<div class="px-8 max-w-full lg:py-2">
    <h2 class="flex justify-center my-10 text-4xl text-center font-bold">Dipendenti assegnati alla commessa scelta</h2>
    <hr>
    <div class="py-2 px-2 gap-4 sm:grid-cols-2 sm:gap-6 grid grid-cols-1 mt-5">
        <div class="sm:col-span-2 h-min">
            <div class="overflow-auto rounded-lg shadow">
                <table class="w-full">
                    <thead class="bg-gray-100 border-b-2 border-gray-200">
                        <tr>
                            <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left"></th>
                            <th scope="col" class="w-80 p-3 text-sm font-semibold tracking-wide text-left">Nome</th>
                            <th scope="col" class="w-80 p-3 text-sm font-semibold tracking-wide text-left">Cognome</th>
                            <th scope="col" class="w-80 p-3 text-sm font-semibold tracking-wide text-left">Data inizio</th>
                            <th scope="col" class="w-80 p-3 text-sm font-semibold tracking-wide text-left">Data fine</th>
                            <th scope="col" class="w-80 p-3 text-sm font-semibold tracking-wide text-left">Modifica</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-100">
                        <tr *ngFor="let dipendente of listDipendenti; let i = index" [ngClass]="{'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0}" class="border-b">
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap"><input type="checkbox" [(ngModel)]="checkboxStates[i]" (change)="disableButton($event, dipendente.id)"></td>
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{dipendente.anpeNome}}</td>
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{dipendente.anpeCognome}}</td>
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{dipendente.dataInizio | date: 'dd/MM/yyyy'}}</td>
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap">{{dipendente.dataFine | date: 'dd/MM/yyyy'}}</td>
                            <td class="p-3 text-sm text-gray-700 whitespace-nowrap"><button class="text-green-600 hover:text-green-700"
                                [disabled]="checkboxStates[i]"
                                [ngClass]="{'text-green-700 cursor-not-allowed': checkboxStates[i]}"
                                ><mat-icon>edit</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16 flex flex-wrap justify-center space-y-4 sm:space-y-0 sm:space-x-4">
        <button type="submit" (click)="modificaSelezionati()" class="w-2/4 sm:flex-1 px-5 py-2.5 text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:ring-1 focus:outline-none focus:ring-black rounded-lg text-center">Modifica selezionati</button>
        <button  mat-dialog-close class="w-2/4 sm:flex-1 px-5 py-2.5 text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:ring-1 focus:outline-none focus:ring-black rounded-lg text-center">Chiudi</button>
    </div>
</div>z