<section class = "bg-white my-10">
    <div class ="flex felx-col items-start justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class=" w-full p-6 bg-white rounded-lg shadow md:mt-0 sm:max-w-3xl sm:p-8">
            <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Cambio Password</h2>
            <form [formGroup]="cambioPasswordForm" (ngSubmit)="submitChangePasssword()" class="mt-4 space-y-4 lg:mt-5 md:space-y-5">
                <div>
                    <label  for="username" class="block mb-2 text-sm font-medium text-gray-900">Il tuo username</label>
                    <input formControlName="username" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:outline-none focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 -500" placeholder="Username">
                    <div *ngIf="isFieldValid('username')" class="text-red-500 text-xs mt-1">Campo obbligatorio</div>
                </div>
                <div>
                    <label for="nuovaPassword" class="block mb-2 text-sm font-medium text-gray-900">Nuova password</label>
                    <input formControlName="nuovaPassword" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:outline-none focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 -500" placeholder="••••••••">
                    <div *ngIf="isFieldValid('nuovaPassword')" class="text-red-500 text-xs mt-1">Campo obbligatorio</div>
                </div>
                <div>
                    <label for="confermaPassword" class="block mb-2 text-sm font-medium text-gray-900">Conferma password</label>
                    <input formControlName="confermaPassword" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:outline-none focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 -500" placeholder="••••••••">
                    <div *ngIf="isFieldValid('confermaPassword')" class="text-red-500 text-xs mt-1">Campo obbligatorio</div>
                    <div *ngIf="cambioPasswordForm.hasError('mismatch')" class="text-red-500 text-xs mt-1">Le password non corrispondono</div>
                </div>
                <button type ="submit" class = "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Conferma password</button>
            </form>
        </div>
    </div>
</section>