.nota-cell {
    max-width: 200px; /* Imposta la larghezza massima desiderata */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; /* Cambia il cursore quando si passa sopra per indicare che il testo è interattivo */
}

[disabled] {
    background-color: grey;
}