<div class="aggiungiprodotto">

  <form (ngSubmit)="inserisciUtente()" [formGroup]="utenteForm">

      <div>
          <label>Id</label>
          <input required
              [class.non_valido]="form.get('idPersona')?.invalid && form.get('idPersona')?.dirty && form.get('idPersona')?.touched"
              name="idPersona" formControlName="idPersona" type="number">
      </div>
      <div>
          <label>Nome</label>
          <input
              [class.non_valido]="form.get('nome')?.invalid && form.get('nome')?.dirty && form.get('nome')?.touched"
              name="nome" formControlName="nome" type="text">
      </div>
      <div>
          <label>Cognome</label>
          <input
              [class.non_valido]="form.get('cognome')?.invalid && form.get('cognome')?.dirty && form.get('cognome')?.touched"
              name="cognome" formControlName="cognome" type="text">
      </div>
      <div>
          <label>Data di nascita</label>
          <input
              [class.non_valido]="form.get('datanascita')?.invalid && form.get('datanascita')?.dirty && form.get('datanascita')?.touched"
              name="datanascita" formControlName="datanascita" type="date">
      </div>
      <div>
          <label>Stipendio</label>
          <input
              [class.non_valido]="form.get('stipendio')?.invalid && form.get('stipendio')?.dirty && form.get('stipendio')?.touched"
              name="stipendio" formControlName="stipendio" type="number">
      </div>
      <div>
          <label>Genere id</label>
          <input
              [class.non_valido]="form.get('genereid')?.invalid && form.get('genereid')?.dirty && form.get('genereid')?.touched"
              name="genereid" formControlName="genereid" type="number">
      </div>
      <div>
          <label>Societa id</label>
          <input
              [class.non_valido]="form.get('societaid')?.invalid && form.get('societaid')?.dirty && form.get('societaid')?.touched"
              name="societaid" formControlName="societaid" type="number">
      </div>
      <div>
          <label>Ruolo id</label>
          <input
              [class.non_valido]="form.get('ruoloid')?.invalid && form.get('ruoloid')?.dirty && form.get('ruoloid')?.touched"
              name="ruoloid" formControlName="ruoloid" type="number">
      </div>

      <button type="submit" [disabled]="utenteForm.invalid">Invia</button>
  </form>

</div>