<div class=" p-2 m-2">
    <p>{{titolo}}</p>
    <select class="block w-full px-3 py-2 bg-white border-2 rounded-lg p-2.5 sm:text-sm shadow-sm placeholder-slate-400
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    invalid:border-pink-500 :text-pink-600 " [(ngModel)]="value" (change)="AggiornoValore()"
        [class.error]="errore != null && touched != false"
        [class.focus]="(focus && errore == null)|| (touched == false && focus  )">

        <option class="m-20 p-20" [ngValue]="null">{{elementoDefault}}</option>
        <option class="m-20 p-20" *ngFor="let elemento of listaElementi" [value]="elemento[nomeCampoValore]">
            {{elemento[nomeCampoDescrizione]}}</option>
    </select>


    <app-handler-form-custom-error [errore]="errore" [touched]="touched">
    </app-handler-form-custom-error>

</div>


<button type="button" (click)="Prova()">PROVA</button>