<div class=" p-2 m-2" >
    <p>{{titolo}}</p>
    <select class="p-2 m-2 bg-white " [class.error]="errore != null "  [(ngModel)]="value" (change)="AggiornoValore()">

            <option class="m-20 p-20"  [value]="null">{{elementoDefault}}</option>
            <option class="m-20 p-20"   *ngFor="let elemento of listaElementi" [value]="elemento[nomeCampoValore]">{{elemento[nomeCampoDescrizione]}}</option>
        </select> 

        
        <app-handler-form-custom-error
        [errore]="errore"
        [touched]="touched"
        >
        </app-handler-form-custom-error>

    </div>


