<mat-form-field>
    <mat-label>Scegli Mese</mat-label>
    <mat-select (valueChange)="CambiaMese($event)" [(value)]="giornoRiferimento" >
        <div *ngFor="let mese of listaMesi;index as i" >

            <mat-option   [value]="mese">
                {{mese | date:"yyyy LLLL"}}
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>



<div *ngFor="let giornoa of rapportinoService.risposta.listaGiorniLavoroMese"><mat-icon>edit</mat-icon></div>
<button (click)="test()">clicca</button>