<div class="">
  <div class="flex-grow p-2 m-2">
    giorno da copiare: {{ data.giornoData | date:"d LLLL yyyy" }}
   
  </div>
  <div class="flex flex-row">
    <div class="flex flex-row flex-wrap border-2">
      <div class="p-2 m-2 w-fit">
        <div>Ingresso</div>
        <div>{{ data.oraEntrata }}</div>
      </div>
      <div class="p-2 m-2 w-fit">
        <div>Inizio Pausa</div>
        <div>{{ data.oraInizioPausa }}</div>
      </div>
      <div class="p-2 m-2 w-fit">
        <div>Fine Pausa</div>
        <div>{{ data.oraFinePausa }}</div>
      </div>
      <div class="p-2 m-2 w-fit">
        <div>Uscita</div>
        <div>{{ data.oraUscita }}</div>
      </div>
    </div>
    <div class="cg flex flex-wrap border-red-600 border-2 w-96">
      <div class="giorni h-8 w-11 text-center">mar</div>
      <div class="giorni h-8 w-11 text-center">mer</div>
      <div class="giorni h-8 w-11 text-center">lun</div>
      <div class="giorni h-8 w-11 text-center">giov</div>
      <div class="giorni h-8 w-11 text-center">ven</div>
      <div class="giorni h-8 w-11 text-center">sab</div>
      <div class="giorni h-8 w-11 text-center">dom</div>
      <div
        *ngFor="let giorni of rapportinoService.giorniMesePassato"
        class="giorni h-11 w-11 bg-slate-300"
      ></div>
      <div
        class="w-11 h-11 justify-center giorni"
        *ngFor="
          let giorno of rapportinoService.risposta.listaGiorniLavoroMese
            | ordinaGiorni : 'dataNumero'
        "
        [class.giornoGiaPieno]="
          giorno.listaAttivitaGiorno.length > 0 &&
          giorno.giornoLavorativoId != data.giornoLavorativoId
        "
        [class.questoGiorno]="
          giorno.giornoLavorativoId == data.giornoLavorativoId ||
          data.giornoFestivo
        "
      >
        <label> {{ giorno.dataNumero }} </label>
        <input
          [disabled]="giorno.giornoLavorativoId == data"
          type="checkbox"
          (change)="AggiungiNumero(giorno.giornoLavorativoId!)"
        />
      </div>

      <div
        *ngFor="let giorni of rapportinoService.giorniMeseSeguente"
        class="giorni h-11 w-11 bg-slate-300"
      ></div>

      <div>
        <button
          class="button"
          mat-raised-button
          color="basic"
          type="button"
          (click)="CopiaGiorni()"
        >
          Conferma
        </button>
      </div>
    </div>
  </div>
</div>
