<div class="flex justify-center mt-10 text-4xl font-bold">
    <h2>Ricerca Utente</h2>
</div>

<div class="flex flex-row justify-center mt-5">
    <form (ngSubmit)="ricercaPersonaFiltrata(formData.Nome, formData.Cognome, formData.Ruolo)">
        <div class="flex flex-row justify-end">
            <!-- <a routerLink="/Segreteria/insert-ruolo-utente"> -->
                <a routerLink="{{'/'+menuDinamicoService.finalPath}}">            
                <button [disabled]="!menuDinamicoService.funzione.flagCreazione" mat-icon
                    class="material-icons w-fit text-base text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2">add</button></a>
        </div>
        <div class="flex flex-row justify-center my-5">
            <form (ngSubmit)="ricercaPersonaFiltrata(formData.Nome, formData.Cognome, formData.Ruolo)"
                class="flex flex-row">
                <div class="flex flex-col mb-5">
                    <input [(ngModel)]="formData.Nome" name="nome" type="search"
                        class="mx-5 p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Cerca per Nome..." required />
                </div>
                <div class="flex flex-col mb-5">
                    <input [(ngModel)]="formData.Cognome" name="cognome" type="search"
                        class="mx-5 p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Cerca per Cognome..." required />
                </div>
                <div class="flex flex-col mb-5">
                    <mat-form-field appearance="fill" class="mx-5">
                        <mat-label>Cerca per Ruolo...</mat-label>
                        <mat-select [(ngModel)]="formData.Ruolo" name="ruolo">
                            <mat-option *ngFor="let ruolo of ruoli" [value]="ruolo.syruIdruolosys">
                                {{ ruolo.syruDescruolosys }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
        </div>

        <div class="flex flex-row justify-end mt-5">
            <button type="submit" (click)="onCercaButtonClick()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cerca</button>
            <button type="button" (click)="clearSearch()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cancella</button>
            <button type="button" (click)="closeForm()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Chiudi</button>
        </div>
    </form>
</div>
<br>
<div *ngIf="!output_ricercaFiltrata" class="flex flex-row justify-center text-2xl my-10">Nessun dato disponibile</div>
<div class="flex flex-row justify-center my-10">
    <div *ngIf="output_ricercaFiltrata" class="flex flex-row justify-center my-10">
        <table class="text-base text-left rtl:text-right table-width">
            <thead class="text-sm uppercase text-white bg-blue-600">
                <tr>
                    <th scope="col" class="px-6 py-3">MODIFICA</th>
                    <th scope="col" class="px-6 py-3">ELIMINA</th>
                    <th scope="col" class="px-6 py-3">NOME</th>
                    <th scope="col" class="px-6 py-3">COGNOME</th>
                    <th scope="col" class="px-6 py-3">USERNAME</th>
                    <th scope="col" class="px-6 py-3 ruoli-column">RUOLI</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let utente of utenti" class="bg-white border-b">
                    <td class="px-6 py-4>">
                        <button [disabled]="!menuDinamicoService.funzione.flagLettura" type="button" name="modifyFieldsRuolo" (click)="modificaRuolo(utente.id)" class="material-icons material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-green-600
                            hover:bg-green-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">create</button>
                    </td>
                    <td *ngIf="utente.ruoli.length != 0" class="px-6 py-4>">
                        <button [disabled]="!menuDinamicoService.funzione.flagCancellazione" type="button" (click)="eliminaUtente(utente.id)"
                            class="material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">delete</button>
                    </td>
                    <td *ngIf="utente.ruoli.length == 0" class="px-6 py-4>"></td>
                    <!-- <td *ngIf="utente.ruoli.length == 0" class="px-6 py-4>">
                        <button [disabled]="utente.ruoli.length == 0" type="button" (click)="eliminaUtente(utente.id)"
                            class="material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">delete</button>
                    </td> -->

                    <td class="px-6 py-4">{{ utente.nome }}</td>
                    <td class="px-6 py-4">{{ utente.cognome }}</td>
                    <td class="px-6 py-4">{{ utente.username }}</td>
                    <td class="px-6 py-4">
                        <ul>
                            <li *ngFor="let ruolo of utente.ruoli">{{ ruolo.syruDescruolosys }}</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>