<div class="page-container">
    <h1 class="flex justify-center my-10 text-4xl font-bold">Gestione dati contratto</h1>
    <form (ngSubmit)="insertContratto()" class="form-container">
        <div class="d-flex flex-column justify-content-center">
            <div class="flex gap-8">
                <!-- COLONNA DI SINITRA -->
                <div class="w-1/2">
                    <mat-form-field class="w-full" appearance="fill"  floatLabel="auto">
                        <mat-label>Codice Fiscale</mat-label>
                        <input matInput [value]="formData.codiceFiscale" [disabled]="disable_fields"
                            [(ngModel)]="formData.codiceFiscale" name="CodiceFiscale" placeholder="Codice fiscale"
                            class="mat-disabled">
                        <button mat-icon-button type="button" matSuffix (click)="showModalRicercaUtentiSenzaContratto()"
                            class="mat-disabled">
                            <mat-icon>person_add_alt_1</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field class="w-full" appearance="fill"  floatLabel="auto">
                        <mat-label>Nome</mat-label>
                        <input matInput [value]="formData.nome" [disabled]="disable_fields"
                            [(ngModel)]="formData.nome" name="Nome" placeholder="Nome" class="mat-disabled">
                    </mat-form-field>
                    <mat-form-field class="w-full" appearance="fill" floatLabel="auto">
                        <mat-label>Cognome</mat-label>
                        <input matInput [value]="formData.cognome" [disabled]="disable_fields"
                            [(ngModel)]="formData.cognome" name="Cognome" placeholder="Cognome"
                            class="mat-disabled">
                    </mat-form-field>
                    <mat-form-field class="w-full" appearance="fill" *ngIf="hidePartitaIvaField"  floatLabel="auto">
                        <mat-label>Partita IVA</mat-label>
                        <input matInput [(ngModel)]="formData.anpePartitaiva" [disabled]="disablePartitaIvaField"
                            name="AnpePartitaiva" placeholder="Partita IVA">
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>Società</mat-label>
                        <mat-select [(ngModel)]="formData.ansoSocietaid" name="Societa" placeholder="Società" required>
                            <mat-option *ngFor="let tipo of tipiSocieta" [value]="tipo.societaid">
                                {{ tipo.ragionesociale }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Data inizio contratto</mat-label>
                        <input matInput [(ngModel)]="formData.codiDatainiziocontratto" name="datainiziocontratto"
                            type="date" (focus)="dateinizioTouched = true" placeholder="Data inizio contratto"
                            (change)="formValidationCheck()">
                        <!--<mat-hint align="end">Data inizio contratto</mat-hint>-->
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Data fine contratto</mat-label>
                        <input matInput [(ngModel)]="formData.codiDatafinecontratto" name="datafinecontratto"
                            type="date" (focus)="datefineTouched = true" placeholder="Data fine contratto"
                            (change)="dataFineContrattoSelezionata()">
                        <!--<mat-hint align="end">Data fine contratto</mat-hint>-->
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto" *ngIf="formData.codiDatafinecontratto !== null">
                        <mat-label>Motivo fine contratto</mat-label>
                        <mat-select [(ngModel)]="formData.motivoFineContratto" name="motivofinecontratto"
                                    placeholder="Motivo fine contratto" > <!--</mat-select>[required]="formData.CodiDatafinecontratto !== null">-->
                            <mat-option *ngFor="let tipo of tipiMotiviFinecontratto" [value]="tipo.motivid">
                                {{ tipo.motivdesc }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>Tipo contratto</mat-label>
                        <mat-select [(ngModel)]="formData.tipoContratto" name="tipocontratto"
                            placeholder="Tipo contratto" required>
                            <mat-option *ngFor="let tipo of tipiContratto" [value]="tipo.tipoid">
                                {{ tipo.tipodesc }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>CCNL</mat-label>
                        <mat-select [(ngModel)]="formData.ccnlid" name="CCNL" placeholder="CCNL"
                            (ngModelChange)="getAllTipoLivello(this.formData.ccnlid)" required>
                            <mat-option *ngFor="let tipo of tipiCcnl" [value]="tipo.ccnlid">
                                {{ tipo.descrizioneCCNL }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>Livello ccnl</mat-label>
                        <mat-select [(ngModel)]="formData.livelloContratto" name="Livello" placeholder="Livello" required>
                            <mat-option *ngFor="let tipo of tipiLivello" [value]="tipo.livelloid">
                                {{ tipo.livelloContratto }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formData.livelloContratto == null">
                            Seleziona un CCNL prima del livello
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- COLONNA DI DESTRA -->​
                <!-- DI SEGUITO TUTTI I CAMPI TESTUALI DI DESTRA -->
                <div class="w-1/2">
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>RAL</mat-label>
                        <input matInput
                            (change)="formData.codiRalcompenso ? updateCosts() : null"
                            [(ngModel)]="formData.codiRalcompenso" type="number" name="RAL" inputmode="numeric"
                            oninput="this.value = this.value.replace(/\D+/g, '')" placeholder="0" required>
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>Costo presunto mese</mat-label>
                        <input matInput (change)="updateCosts()" [(ngModel)]="costopresuntomese"
                            type="number" name="costopresuntomese" inputmode="numeric"
                            oninput="this.value = this.value.replace(/\D+/g, '')" placeholder="0">
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>Costo presunto giorno</mat-label>
                        <input matInput (change)="updateCosts()"
                            [(ngModel)]="costopresuntogiorno" type="number" name="0"
                            inputmode="numeric" oninput="this.value = this.value.replace(/\D+/g, '')"
                            placeholder="Costo presunto giorno">
                    </mat-form-field>
                    <mat-form-field class="w-full" floatLabel="auto">
                        <mat-label>Monteore settimanale</mat-label>
                        <input matInput (change)="formValidationCheck()" [(ngModel)]="formData.codiMonteore"
                            type="number" name="Monteore" inputmode="numeric"
                            oninput="this.value = this.value.replace(/\D+/g, '')" placeholder="0" required>
                    </mat-form-field>
                    <mat-checkbox (change)="formValidationCheck()" [(ngModel)]="formData.codiSmartworking"
                        name="smartworking">
                        Smart Working
                    </mat-checkbox>
                    <mat-form-field class="w-full">
                        <textarea matInput [(ngModel)]="formData.codiNote" (change)="formValidationCheck()"
                            maxlength="65535" type="text" name="Note" placeholder="Note"></textarea>
                    </mat-form-field>
                    <div>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <ng-container>
                                    <mat-checkbox (change)="formValidationCheck()" [(ngModel)]="formData.codsFlagAttiva"
                                        name="indistacco">
                                    </mat-checkbox>
                                    <mat-panel-title>
                                        Distacco
                                    </mat-panel-title>
                                </ng-container>
                            </mat-expansion-panel-header>
                            <mat-form-field class="w-full" floatLabel="auto">
                                <mat-label>Percentuale distacco</mat-label>
                                <input matInput (change)="formValidationCheck()"
                                    [(ngModel)]="formData.codsValoredistacco" type="number" name="Percentuale"
                                    [disabled]="!this.formData.codsFlagAttiva" placeholder="0"
                                    [required]="formData.codsFlagAttiva == 1">
                            </mat-form-field>
                            <mat-form-field class="w-full" floatLabel="auto">
                                <mat-label>Cliente distacco</mat-label>
                                <mat-select (selectionChange)="openModalIfLastOptionSelected($event)"
                                    (change)="formValidationCheck()" [(ngModel)]="formData.codsClienteId"
                                    [disabled]="!this.formData.codsFlagAttiva" name="clientedistacco" placeholder="Cliente distacco"
                                    [required]="formData.codsFlagAttiva == 1">
                                    <mat-option *ngFor="let cliente of tipiClientiDistacco" [value]="cliente.clienteDistaccoid">
                                        {{cliente.clienteDistacco }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="w-full" floatLabel="always">
                                <mat-label>Data inizio distacco</mat-label>
                                <input matInput (change)="formValidationCheck()"
                                    [(ngModel)]="formData.codsDatainiziodistacco" type="date" name="datainiziodistacco"
                                    [disabled]="!this.formData.codsFlagAttiva" placeholder="Data inizio distacco"
                                    [required]="formData.codsFlagAttiva == 1">
                                <!--<mat-hint align="end">Data inizio distacco</mat-hint>-->
                            </mat-form-field>
                            <mat-form-field class="w-full" floatLabel="always">
                                <mat-label>Data fine distacco</mat-label>
                                <input matInput (change)="formValidationCheck()"
                                    [(ngModel)]="formData.codsDatafinedistacco" type="date" name="datafinedistacco"
                                    [disabled]="!this.formData.codsFlagAttiva" placeholder="Data fine distacco"
                                    [required]="formData.codsFlagAttiva == 1">
                                <!--<mat-hint align="end">Data fine distacco</mat-hint>-->
                            </mat-form-field>
                            <div class="panel-footer" *ngIf="formData.anpePersonaid !== null">
                                <button mat-button color="primary" (click)="openCronologiaDistaccoModal()"
                                    style="font-size: smaller;">Cronologia Distacchi di {{ formData.nome }} {{
                                    formData.cognome }}</button>
                            </div>
                        </mat-expansion-panel>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-center padding-10px">
            <button
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
                type="submit" [disabled]="!formValidation" [class.disabled]="!formValidation">Salva</button>
            <button
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
                type="button" (click)="clearForm()">Annulla</button>
            <button
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
                type="button" (click)="closeForm()">Chiudi</button>
        </div>
    </form>
</div>


<!-- DIALOG BOX PER RICERCA PERSONA-->
<ng-template #approvalModal let-modal>
    <div class="flex justify-center my-10 text-4xl font-bold">
        <h1>Gestione dipendenti senza contratto</h1>
    </div>
    <div class="flex flex-row justify-center my-10">
        <form (ngSubmit)="ricercaFiltrata(formDataDialog.nome, formDataDialog.cognome, formDataDialog.codiceFiscale)"
            class="w-3/4">
            <div class="flex flex-row mb-5">
                <input [(ngModel)]="formDataDialog.nome" type="search" name="nome"
                    class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Cerca per nome..." required />
                <input [(ngModel)]="formDataDialog.cognome" type="search" name="cognome"
                    class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Cerca per cognome..." required />
                <input [(ngModel)]="formDataDialog.codiceFiscale" type="search" name="codiceFiscale"
                    class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Cerca per codice fiscale..." required />
            </div>
            <div class="flex flex-row justify-end mt-10">
                <button type="submit"
                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cerca</button>
                <button type="button" (click)="clearSearch()"
                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Annulla</button>
                <button type="button" (click)="closeModalRicercaUtentiSenzaContratto()"
                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Chiudi</button>
            </div>
            <br>
            <div *ngIf="!output_ricercaFiltrata" class="flex flex-row justify-center my-10">
                Nessun dato disponibile
            </div>
            <div *ngIf="output_ricercaFiltrata" class="flex flex-row justify-center my-10">
                <table class="w-3/4 text-base text-left rtl:text-right">
                    <thead class="text-sm uppercase text-white bg-blue-600">
                        <tr>
                            <th scope="col" class="px-6 py-3">Nome</th>
                            <th scope="col" class="px-6 py-3">Cognome</th>
                            <th scope="col" class="px-6 py-3">Codice Fiscale</th>
                            <th scope="col" class="px-6 py-3"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dipendente of dipendentiSenzaContratto ?? []; index as i"
                            class="bg-white border-b">
                            <td class="px-6 py-4">{{ dipendente.anpeNome }}</td>
                            <td class="px-6 py-4">{{ dipendente.anpeCognome }}</td>
                            <td class="px-6 py-4">{{ dipendente.anpeCodicefiscale }}</td>
                            <!--<td class="px-6 py-4">{{ dipendente.AnpePartitaiva }}</td>-->
                            <td class="px-6 py-4>">
                                <button type="button" (click)="autoFillFields(i)"
                                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">SELEZIONA
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</ng-template>