.mat-input-element:disabled,
.mat-input-element[disabled] {
    color: rgba(0, 0, 0, 0.54);
    background-color: rgba(0, 0, 0, 0.12);
}

.fields-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form-container {
    width: 60%;
  }
  
  .padding-top {
    padding-top: 20px; 
  }