<div class="container">
  <h2>Inserisci Richiesta</h2>
  <form (ngSubmit)="submitForm()">
    <label>Tipo Richiesta</label>
    <select [(ngModel)]="formData.RiasFkTiporichiesta" name="RiasFkTiporichiesta" required>
      <option *ngFor="let tipo of tipiRichiesta" [value]="tipo.ritrTiporichiestaassenzaid">{{ tipo.ritrDescrizioneassenza }}</option>
    </select>

    <div class="row">
      <div class="column">
        <label>Dal giorno: </label>
        <input type="date" [(ngModel)]="DataInizio" name="Datainizio" required>
      </div>
      <div class="column">
        <label>Al giorno: </label>
        <input type="date" [(ngModel)]="DataFine" name="Datafine" required>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <label>Ora Inizio</label>
        <select [(ngModel)]="OraInizio" name="OraInizio" required>
          <option *ngFor="let ora of ore" [value]="ora">{{ ora }}</option>
        </select>
      </div>
      <div class="column">
        <label>Ora Fine</label>
        <select [(ngModel)]="OraFine" name="OraFine" required>
          <option *ngFor="let ora of ore" [value]="ora">{{ ora }}</option>
        </select>
      </div>
    </div>

    <label>Note</label>
    <textarea [(ngModel)]="formData.RiasNote" name="RiasNote"></textarea>

<!--     <label>fileName</label>
    <textarea [(ngModel)]="formData.fileName" name="fileName"></textarea>

    <label>filePath</label>
    <textarea [(ngModel)]="formData.filePath" name="filePath"></textarea> -->

    <div class="uploadcontainer">
      <label>Upload File</label>
      <input #myFile type="file" id="fileInput" (change)="uploadDoc()"> 
    </div>

    <div class="buttons">
      <button type="submit">Invia Richiesta</button>
      <button type="button" (click)="eliminaRichiesta()">Elimina Richiesta</button>
      <button type="button" (click)="chiudiForm()">Chiudi</button>
    </div>
  </form>
</div>
