<h1 class="titles">Gestione dati contratto</h1>
 <form (ngSubmit)="submitForm()"> 
<!-- COLONNA DI SINITRA -->
<!-- DI SEGUITO TUTTI I CAMPI TESTUALI DI SINISTRA -->
<div class="row">
    <div class="column">
        <div class="textcolumn1">
            Codice fiscale:
        </div>
        <div class="textcolumn1">
            Nome:
        </div>
        <div class="textcolumn1">
            Cognome:
        </div>        
        <div class="textcolumn1">
            Società*:
        </div>
        <div class="textcolumn1">
            Data inizio contratto*:
        </div>
        <div class="textcolumn1">
            Data fine contratto*:
        </div>  
        <div class="textcolumn1">
            Tipo contratto*:
        </div>
        <div class="textcolumn1">
            CCNL*:
        </div>
        <div class="textcolumn1">
            Livello*:
        </div>  
        <div class="textcolumn1">
            Tipo lavoratore*:
        </div>    
    </div>
    <!-- DI SEGUITO TUTTI I BOX DI INSERIMENTO DI SINISTRA -->
    <div class="column">
        <div class="fieldcolumn1">
            <tr>
                <input [disabled]="disable_fields" [(ngModel)]="formData.AnpeCodicefiscale" class="box" type="text" name="CodiceFiscale">
                <button type="button" class="material-icons">person_add_alt_1</button>
            </tr>
        </div>
        <div class="fieldcolumn1">
            <input [disabled]="disable_fields" [(ngModel)]="formData.AnpeNome" class="box" type="text" name="Nome">
        </div>
        <div class="fieldcolumn1">
            <input [disabled]="disable_fields" [(ngModel)]="formData.AnpeCognome" class="box" type="text" name="Cognome">
        </div>        
        <div class="fieldcolumn1">
            <select [(ngModel)]="formData.AnsoSocietaid" class="box" name="Societa" required> 
                <option *ngFor="let tipo of tipiSocieta" [value]="tipo.ansoSocietaid">{{ tipo.ansoRagionesociale }}</option>
            </select>            
        </div>
        <div class="fieldcolumn1">
            <input [(ngModel)]="formData.CodiDatainiziocontratto" class="box" type="date" name="datainiziocontratto">
        </div>
        <div class="fieldcolumn1">
            <input [(ngModel)]="formData.CodiDatafinecontratto" class="box" type="date" name="datafinecontratto">
        </div>
        <div class="fieldcolumn1">
            <select [(ngModel)]="formData.CotcTipocontrattoid" class="box" name="tipocontratto" required>
                <option *ngFor="let tipo of tipiContratto" [value]="tipo.cotcTipocontrattoid">{{ tipo.cotcContratto }}</option>
            </select>
        </div>
        <div class="fieldcolumn1">
            <select [(ngModel)]="formData.CoccCcnlid" (ngModelChange)="getAllTipoLivello();" class="box" name="CCNL" required>
                <option *ngFor="let tipo of tipiCcnl" [value]="tipo.coccCcnlid">{{ tipo.coccDesc }}</option>
            </select>
        </div>
        <div class="fieldcolumn1">
            <select [(ngModel)]="formData.ColiLivelloid" class="box" name="Livello" required>
                <option *ngFor="let tipo of tipiLivello" [value]="tipo.coliLivelloid">{{ tipo.coliLivellocontratto }}</option>                
            </select>
        </div>
        <div class="fieldcolumn2">            
            <select [(ngModel)]="formData.AnruRuoloid" class="box" name="tipolavoratore" required>
                <option *ngFor="let tipo of tipiRuolo" [value]="tipo.anruRuoloid">{{ tipo.anruRuolodesc }}</option>               
            </select>
        </div>
    </div>
<!-- COLONNA DI DESTRA -->
<!-- DI SEGUITO TUTTI I CAMPI TESTUALI DI DESTRA -->
    <div class="column">        
        <div class="textcolumn1">
            RAL*:
        </div>
        <div class="textcolumn1">
            Monteore:
        </div>
        <div class="textcolumn1">
            Smart Working:
        </div>
        <div class="textcolumn1">
            Costo presunto annuo*:
        </div>
        <div class="textcolumn1">
            Costo presunto giorno*:
        </div>
        <div class="inlinetextcolumn1">
            In distacco:
        </div>
        <div *ngIf="!uncheck" class="textcolumn1">
            Cliente distacco:
        </div>
        <div *ngIf="uncheck" class="textcolumn1">
            Cliente distacco*:
        </div>  
        <div *ngIf="!uncheck" class="textcolumn1">
            Data inizio distacco:
        </div>
        <div *ngIf="uncheck" class="textcolumn1">
            Data inizio distacco*:
        </div>
        <div *ngIf="!uncheck" class="textcolumn1">
            Data fine distacco:
        </div>
        <div *ngIf="uncheck" class="textcolumn1">
            Data fine distacco*:
        </div>
        <div class="textcolumn1">
            Note:
        </div>                
    </div>
    <!-- DI SEGUITO TUTTI I BOX DI INSERIMENTO DI DESTRA -->
    <div class="column">        
        <div class="fieldcolumn2">
            <input [(ngModel)]="formData.CodiRalcompenso" class="box" type="number" name="RAL" required>
        </div>
        <div class="fieldcolumn2">
            <input [(ngModel)]="formData.CodiMonteore" class="box" type="number" name="Monteore" required>
        </div>
        <div class="fieldcolumn2">
            <input [(ngModel)]="formData.smartworking" class="inlinecheckbox" type="checkbox" name="smartworking">
            <!--{{formData.smartworking}}-->
        </div>        
        <div class="fieldcolumn2">
            <input [(ngModel)]="formData.costopresuntoannuo" class="box" type="number" name="costopresuntoannuo" required>
        </div>
        <div class="fieldcolumn2">
            <input [(ngModel)]="formData.costopresuntogiorno" class="box" type="number" name="costopresuntogiorno" required>
        </div>
        <div class="fieldcolumn2">
            <tr>                
                <!--{{uncheck}}-->
                <input [(ngModel)]="uncheck" class="inlinecheckbox" type="checkbox" name="indistacco">
                <td *ngIf="!uncheck" class="inlinefields">Percentuale:</td>
                <td *ngIf="uncheck" class="inlinefields">Percentuale*:</td>                
                <input [(ngModel)]="formData.CodsValoredistacco" [disabled]="!uncheck" class="inlinebox" type="number" name="Percentuale" required>
            </tr>                        
        </div>
        <div class="fieldcolumn2">
            <select [(ngModel)]="formData.AnsoSocietaDistaccoid" [disabled]="!uncheck" class="box" name="clientedistacco" required> 
                <option *ngFor="let tipo of tipiSocietaDistacco" [value]="tipo.ansoSocietaid">{{ tipo.ansoRagionesociale }}</option>
            </select>           
        </div>
        <div class="fieldcolumn2">
            <input [(ngModel)]="formData.CodsDatainiziodistacco" [disabled]="!uncheck"  class="box" type="date" name="datainiziodistacco" required>
        </div>
        <div class="fieldcolumn2">
            <input [(ngModel)]="formData.CodsDatafinedistacco" [disabled]="!uncheck" class="box" type="date" name="datafinedistacco" required>
        </div>
        <div class="fieldcolumn2">
          <textarea [(ngModel)]="formData.CodiNote" contenteditable="true" maxlength="65535" class="box" type="text" name="Note"></textarea>  
            <!--<textarea rows="15" cols="50" style="max-height:100px;min-height:25px;max-width:220px; resize: none"
            contenteditable="true" class="box" type="text" name="Note"></textarea>-->
            <!--<input class="box" maxlength="65535" type="text" name="Note"> -->
        </div>
    </div>
</div>
 
<div>    
    <button class="buttons" type="button" (click)="closeForm()">Chiudi</button>
    <button class="buttons" type="button" (click)="clearForm()">Annulla</button>
    <button class="buttons" type="submit">Salva</button>        
</div>
</form>
<!--
<div class="buttons">
    <button type="submit" [class.disabled]="!checkFormValidity() || checkDateTimeValidity()" [disabled]="!checkFormValidity() || checkDateTimeValidity()">Invia Richiesta</button>
    <button type="button" (click)="eliminaRichiesta()">Elimina Richiesta</button>
    <button type="button" (click)="chiudiForm()">Chiudi</button>
  </div>
-->
