<!-- <ng-template #approvalModal let-modal> -->
    <div class="flex justify-center my-10 text-4xl font-bold">
        <h1>Dipendenti senza {{ tipo }}</h1>
    </div>
    <div class="flex flex-row justify-center my-10">
        <form (ngSubmit)="ricercaFiltrata(tipo)"
            class="w-3/4">
            <div class="flex flex-row mb-5">
                <input [(ngModel)]="formDataDialog.nome" type="search" name="nome"
                    class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Cerca per nome..." required />
                <input [(ngModel)]="formDataDialog.cognome" type="search" name="cognome"
                    class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Cerca per cognome..." required />
                <input [(ngModel)]="formDataDialog.codiceFiscale" type="search" name="codiceFiscale"
                    class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Cerca per codice fiscale..." required />
            </div>
            <div class="flex flex-row justify-end mt-10">
                <button type="submit"
                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cerca</button>
                <button type="button" (click)="clearSearch()"
                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Annulla</button>
                <button type="button" (click)="closeModal()"
                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Chiudi</button>
            </div>
            <br>
            <div *ngIf="!output_ricercaFiltrata" class="flex flex-row justify-center my-10">
                Nessun dato disponibile
            </div>
            <div *ngIf="output_ricercaFiltrata" class="flex flex-row justify-center my-10">
                <table class="w-3/4 text-base text-left rtl:text-right">
                    <thead class="text-sm uppercase text-white bg-blue-600">
                        <tr>
                            <th scope="col" class="px-6 py-3">Nome</th>
                            <th scope="col" class="px-6 py-3">Cognome</th>
                            <th scope="col" class="px-6 py-3">Codice Fiscale</th>
                            <th scope="col" class="px-6 py-3">Partita iva</th>
                            <th scope="col" class="px-6 py-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let persona of listaPersone ?? []; index as i"
                            class="bg-white border-b">
                            <td class="px-6 py-4">{{ persona.anpeNome }}</td>
                            <td class="px-6 py-4">{{ persona.anpeCognome }}</td>
                            <td class="px-6 py-4">{{ persona.anpeCodicefiscale }}</td>
                            <td class="px-6 py-4">{{ persona.anpePartitaiva }}</td>                            
                            <td class="px-6 py-4>">
                                <button type="button" (click)="autoFillFields(persona)"
                                    class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">SELEZIONA
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
<!-- </ng-template> -->
