.container{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:20px;
    line-height:28px;
}
.div{
    font-family: Verdana, sans-serif;
}

.form{
    margin:5px;
}
.A{
    display: flex;
    justify-content: flex-start;
}
.x{
    margin: 20px;
}
