<nav class="bg-gradient-to-r from-gray-700 via-gray-800 to-gray-700">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <a routerLink="homepage"><img class="w-auto h-auto" src="\assets\SCOD_Logo_Little.png" alt="SCOD 2" /></a>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4 justify-items-center mt-2">
            <a
              *ngIf="!isAuthenticated"
              routerLink="login"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              routerLinkActive="bg-gray-900"
              >Login</a
            >
            <a
              *ngIf="isAuthenticated"
              routerLink="rapportino"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              routerLinkActive="bg-gray-900"
              >Rapportino</a
            >
            <a
              *ngIf="isAuthenticated"
              routerLink="richiestaassenzautente"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              routerLinkActive="bg-gray-900"
              >Inserisci assenza</a
            >
            <a
              *ngIf="isAuthenticated"
              routerLink="richiestaassenzasegreteria"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              routerLinkActive="bg-gray-900"
              >Segreteria per assenza</a
            >
            <a
              *ngIf="isAuthenticated"
              routerLink="gestione-contratto"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              routerLinkActive="bg-gray-900"
              >Gestione Contratti</a
            >
            <a
              *ngIf="isAuthenticated"
              routerLink="gestione-dipendente"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
              routerLinkActive="bg-gray-900"
              >Gestisci dipendente</a
            >
            <a *ngIf="isAuthenticated && authService.utente.username != null" class="text-gray-300 rounded-md px-3 py-2 text-sm font-medium"
              >Ciao {{ authService.utente.username }}</a
            >
            <button *ngIf="isAuthenticated">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
