<div class="flex justify-center my-10 text-4xl font-bold">
    <h2 class="text-center text-2xl font-semibold mb-4">Inserimento Cliente</h2>
</div>

<div class="container mx-auto flex flex-row justify-center max-w-4xl flex-col my-10">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="w-full grid grid-flow-row-dense grid-cols-4 grid-rows-4">

            <app-form-input-text placeholder="Ragione Sociale" titolo="Ragione Sociale"
                [touched]="this.myForm.get('Ragionesociale')?.touched" [required]="true"
                [errore]="this.myForm.get('Ragionesociale')?.errors" formControlName="Ragionesociale">
            </app-form-input-text>

            <app-form-input-text placeholder="Partita IVA" titolo="Partita IVA"
                [touched]="this.myForm.get('Partitaiva')?.touched" [required]="true"
                [errore]="this.myForm.get('Partitaiva')?.errors" formControlName="Partitaiva">
            </app-form-input-text>

            <app-form-input-text placeholder="Sede legale" titolo="Sede legale"
                [touched]="this.myForm.get('Sedelegale')?.touched" [errore]="this.myForm.get('Sedelegale')?.errors"
                formControlName="Sedelegale">
            </app-form-input-text>

            <app-form-input-text placeholder="Sede Operativa" titolo="Sede Operativa"
                [touched]="this.myForm.get('Sedeoperativa')?.touched"
                [errore]="this.myForm.get('Sedeoperativa')?.errors" formControlName="Sedeoperativa">
            </app-form-input-text>

            <app-form-input-text placeholder="Pat INAIL" titolo="Pat INAIL"
                [touched]="this.myForm.get('Patinail')?.touched" [required]="true"
                [errore]="this.myForm.get('Patinail')?.errors" formControlName="Patinail">
            </app-form-input-text>

            <app-form-input-text placeholder="Rappresentate Legale" titolo="Rappresentate Legale"
                [touched]="this.myForm.get('Rappresentantelegale')?.touched"
                [errore]="this.myForm.get('Rappresentantelegale')?.errors" formControlName="Rappresentantelegale">
            </app-form-input-text>

            <app-form-input-text placeholder="Sede Lavoro" titolo="Sede Lavoro"
                [touched]="this.myForm.get('Sedelavoro')?.touched" [errore]="this.myForm.get('Sedelavoro')?.errors"
                formControlName="Sedelavoro">
            </app-form-input-text>

            <app-form-input-text placeholder="Codice ATECO" titolo="Codice ATECO"
                [touched]="this.myForm.get('Codiceateco')?.touched" [errore]="this.myForm.get('Codiceateco')?.errors"
                formControlName="Codiceateco">
            </app-form-input-text>

            <app-form-input-text placeholder="Numero di Telefono" titolo="Numero di Telefono"
                [touched]="this.myForm.get('Numerotelefono')?.touched"
                [errore]="this.myForm.get('Numerotelefono')?.errors" formControlName="Numerotelefono">
            </app-form-input-text>

            <app-form-input-text placeholder="Indirizzo PEC" titolo="Indirizzo PEC"
                [touched]="this.myForm.get('Indirizzopec')?.touched" [errore]="this.myForm.get('Indirizzopec')?.errors"
                formControlName="Indirizzopec">
            </app-form-input-text>

            <div class="col-span-2">
                <app-form-input-text placeholder="Referente reparto amministrativo (nome e cognome)"
                    titolo="Referente reparto amministrativo (nome e cognome)"
                    [touched]="this.myForm.get('Refamministratore')?.touched"
                    [errore]="this.myForm.get('Refamministratore')?.errors" formControlName="Refamministratore">
                </app-form-input-text>
            </div>

            <div class="col-span-2">
                <app-form-input-text class="col-span-2" placeholder="Email referente amministrativo" type="email"
                    titolo="Email referente amministrativo" [touched]="this.myForm.get('Emailrefammin')?.touched"
                    [errore]="this.myForm.get('Emailrefammin')?.errors" formControlName="Emailrefammin">
                </app-form-input-text>
            </div>
            <div class="col-span-2">
                <app-form-input-text class="col-span-2" placeholder="Numero telefono referente amministrativo"
                    titolo="Numero telefono referente amministrativo"
                    [touched]="this.myForm.get('Telefonorefammin')?.touched"
                    [errore]="this.myForm.get('Telefonorefammin')?.errors" formControlName="Telefonorefammin">
                </app-form-input-text>
            </div>
        </div>
        <div class="flex flex-row justify-end mb-10 mt-10">
            <button type="submit"
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Salva</button>
            <button type="button"
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
                (click)="Reset()">Cancella</button>
            <button type="button"
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
                (click)="goBack()">Chiudi</button>
        </div>
    </form>
</div>