<div class="flex justify-center my-10 text-4xl font-bold">
    <!-- <h2 class="text-center text-2xl font-semibold mb-4">Inserimento Cliente</h2> -->
    <h2 class="text-center text-2xl font-semibold mb-4">{{ titolo }}</h2>
</div>

<div class="container mx-auto flex flex-row justify-center max-w-4xl flex-col my-10">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="w-full grid grid-flow-row-dense grid-cols-4 grid-rows-4">

            <app-form-input-text placeholder="Ragione Sociale" titolo="Ragione Sociale"
                [touched]="this.myForm.get('ragionesociale')?.touched" [required]="true"
                [errore]="this.myForm.get('ragionesociale')?.errors" formControlName="ragionesociale">
            </app-form-input-text>

            <app-form-input-text placeholder="Partita IVA" titolo="Partita IVA"
                [touched]="this.myForm.get('partitaiva')?.touched" [required]="true"
                [errore]="this.myForm.get('partitaiva')?.errors" formControlName="partitaiva">
            </app-form-input-text>

            <app-form-input-text placeholder="Sede legale" titolo="Sede legale"
                [touched]="this.myForm.get('sedelegale')?.touched" [errore]="this.myForm.get('sedelegale')?.errors"
                formControlName="sedelegale">
            </app-form-input-text>

            <app-form-input-text placeholder="Sede Operativa" titolo="Sede Operativa"
                [touched]="this.myForm.get('sedeoperativa')?.touched"
                [errore]="this.myForm.get('sedeoperativa')?.errors" formControlName="sedeoperativa">
            </app-form-input-text>

            <app-form-input-text placeholder="Pat INAIL" titolo="Pat INAIL"
                [touched]="this.myForm.get('patinail')?.touched" [required]="true"
                [errore]="this.myForm.get('patinail')?.errors" formControlName="patinail">
            </app-form-input-text>

            <app-form-input-text placeholder="Rappresentate Legale" titolo="Rappresentate Legale"
                [touched]="this.myForm.get('rappresentantelegale')?.touched"
                [errore]="this.myForm.get('rappresentantelegale')?.errors" formControlName="rappresentantelegale">
            </app-form-input-text>

            <app-form-input-text placeholder="Sede Lavoro" titolo="Sede Lavoro"
                [touched]="this.myForm.get('sedelavoro')?.touched" [errore]="this.myForm.get('sedelavoro')?.errors"
                formControlName="sedelavoro">
            </app-form-input-text>

            <app-form-input-text placeholder="Codice ATECO" titolo="Codice ATECO"
                [touched]="this.myForm.get('codiceateco')?.touched" [errore]="this.myForm.get('codiceateco')?.errors"
                formControlName="codiceateco">
            </app-form-input-text>

            <app-form-input-text placeholder="Numero di Telefono" titolo="Numero di Telefono"
                [touched]="this.myForm.get('numerotelefono')?.touched"
                [errore]="this.myForm.get('numerotelefono')?.errors" formControlName="numerotelefono">
            </app-form-input-text>

            <app-form-input-text placeholder="Indirizzo PEC" titolo="Indirizzo PEC"
                [touched]="this.myForm.get('indirizzopec')?.touched" [errore]="this.myForm.get('indirizzopec')?.errors"
                formControlName="indirizzopec">
            </app-form-input-text>

            <div class="col-span-2">
                <app-form-input-text placeholder="Referente reparto amministrativo (nome e cognome)"
                    titolo="Referente reparto amministrativo (nome e cognome)"
                    [touched]="this.myForm.get('refamministratore')?.touched"
                    [errore]="this.myForm.get('refamministratore')?.errors" formControlName="refamministratore">
                </app-form-input-text>
            </div>

            <div class="col-span-2">
                <app-form-input-text class="col-span-2" placeholder="Email referente amministrativo" type="email"
                    titolo="Email referente amministrativo" [touched]="this.myForm.get('emailrefammin')?.touched"
                    [errore]="this.myForm.get('emailrefammin')?.errors" formControlName="emailrefammin">
                </app-form-input-text>
            </div>
            <div class="col-span-2">
                <app-form-input-text class="col-span-2" placeholder="Numero telefono referente amministrativo"
                    titolo="Numero telefono referente amministrativo"
                    [touched]="this.myForm.get('telefonorefammin')?.touched"
                    [errore]="this.myForm.get('telefonorefammin')?.errors" formControlName="telefonorefammin">
                </app-form-input-text>
            </div>
        </div>
        <div class="flex flex-row justify-end mb-10 mt-10">
            <button type="submit"
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Salva</button>
            <button type="button"
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
                (click)="Reset()">Cancella</button>
            <button type="button"
                class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
                (click)="goBack()">Chiudi</button>
        </div>
    </form>
</div>


<!-- nomeCampoDescrizione="qualcosa" -->

<form [formGroup]="provaForm" (ngSubmit)="onSubmitProva()">

<app-form-select titolo="prova" nomeCampoValore="id" elementoDefault="--valore inizio--" nomeCampoDescrizione="nome"
    [listaElementi]="listaIdValore" formControlName="elementoSelect"
    [callbackOnChange]="onSubmitProva"
    [touched]="this.myForm.get('elementoSelect')?.touched"
    [errore]="this.myForm.get('elementoSelect')?.errors"></app-form-select>


    <app-form-input-number titolo="prova" formControlName="elementoNumber"
    [step]="5" [minValue]="10" [maxValue]="50"
    [touched]="this.myForm.get('elementoNumber')?.touched"
    [errore]="this.myForm.get('elementoNumber')?.errors"></app-form-input-number>
    <button type="submit">Premi</button>
</form>


