<div class = "flex justify-center my-10 text-4xl font-bold">
    <h2>Ricerca contratti</h2>
</div>
<div class = "flex flex-row justify-center my-10">
    <form [formGroup]="ricercaForm" (ngSubmit)="ricercaFiltrata()" class="w-3/4">
        <div class="flex flex-row justify-end mt-10">
            <a routerLink="/nuovo-contratto"><button mat-icon class = "material-icons w-fit text-base text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2">add</button></a>
        </div>
        <div class = "flex flex-row mb-5">
            <!--<input formControlName = "comuneResidenza" type="search" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per comune di residenza..." required />
            <input formControlName = "emailAziendale" type="search" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per email aziendale..." required />-->
            <input formControlName = "societa" type="search" class="mx-5 w-1/2 p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per società..." required />
        </div>
        <div class="flex flex-row mb-5">
            <input formControlName = "nome" type="search" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per nome..." required />
            <input formControlName = "cognome" type="search" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per cognome..." required />
            <input formControlName = "codiceFiscale" type="search" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per codice fiscale..." required />
        </div>        
        <div class = "flex flex-row justify-end mt-10">
            <button (click)="clearSearch()" class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cancella</button>
            <button type="submit" class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cerca</button>
        </div>
    </form>
</div>