

<div class="datadiv">
    <div class="c">
      <label>Commessa</label>
      <mat-form-field>
        <mat-label> commessa </mat-label>
        <mat-select [(value)]="commessa">
          <mat-option *ngFor="let commessa of rapportinoService.infoPersona.listaAttivitaProgettoPersona" [value]="commessa.attivitaProgettoPersonaId">{{
            commessa.nomeProgetto
          }}</mat-option>
          
        </mat-select>
      </mat-form-field>
    </div>

    <div class="c">
      <label>sedi</label>
      <mat-form-field>
        <mat-label>sedi</mat-label>
        <mat-select [(value)]="sede">
          <mat-option *ngFor="let sede of rapportinoService.infoPersona.listaSedeLavoroPersona" [value]="sede.sedeLavodoPersonaId">{{
            sede.nomeSedeLavoro }} </mat-option>
        </mat-select>
      </mat-form-field>



    </div>
    <div>
    <mat-form-field class="oreOrd">
      <mat-label>ore ordinarie</mat-label>
      <input matInput type="number" [(ngModel)]="oreOrd">
      @if (oreOrd >0) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="oreOrd= 0 ">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="oreStra">
      <mat-label>ore straordinarie</mat-label>
      <input matInput type="number" [(ngModel)]="oreStra">
      @if (oreStra >0) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="oreStra= 0 ">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>


</div>


  <section class="SW">
    <mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled"
    >
      Smart-working
    </mat-slide-toggle>
  </section>

  <button class="aggiungi" mat-raised-button color="primary" type="button" (click)="AggiungiAttivitaGiorno()">
    Aggiungi
  </button>


