.datadiv{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin:10px;
    
}

.SW, .aggiungi{

    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin:10px;
}

.aggiungi{
    margin: 10px;
    padding: 10px;
}

.oreOrd, .oreStra{
    margin: 10px;
    padding: 10px;
}