// .error {
//     border: red 1px solid;
// }

// .error::placeholder {
//     color: red;
// }


.error{
    border-color: red;
}

input:focus {
    outline: none;
}
.focus  {
    border-color: rgb(0, 162, 255);
// 

}