<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
    <div class="flex flex-1 justify-center sm:hidden">
       <select id="itemsPerPage" class="inline-flex items-center px-3 mr-3 py-2 text-sm font-medium text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent"
        [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
        <button class="relative inline-flex items-center bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:text-gray-500" [class.disabled]="currentPage == 1" (click)="goToFirstPage()"><mat-icon>first_page</mat-icon></button> 
        <button class="relative inline-flex items-center bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:text-gray-500" [class.disabled]="currentPage == 1" (click)="goToPreviousPage()"><mat-icon>keyboard_arrow_left</mat-icon></button> 
        <button class="relative inline-flex items-center bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:text-gray-500" [class.disabled]="currentPage == totalPages" (click)="goToNextPage()"><mat-icon>keyboard_arrow_right</mat-icon></button> 
        <button class="relative inline-flex items-center bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:text-gray-500" [class.disabled]="currentPage == totalPages" (click)="goToLastPage()"><mat-icon>last_page</mat-icon></button> 
    </div>
</div>

<div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-center">
  <div>
    <div class="isolate flex items-center shadow-sm">
      <label for="itemsPerPage" class="mr-2 text-sm font-medium text-gray-700">Elementi per pagina:</label>
      <select id="itemsPerPage" class="mr-2 inline-flex items-center px-3 py-2 text-sm font-medium text-gray-700 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent"
        [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange($event)">
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
      <button class="relative inline-flex items-center bg-white px-3 py-2 text-sm font-medium text-gray-700 hover:text-sky-500" [class.disabled]="currentPage == 1" (click)="goToFirstPage()"><mat-icon>first_page</mat-icon></button> 
      <button class="relative inline-flex items-center bg-white px-3 py-2 text-sm font-medium text-gray-700 hover:text-sky-500" [class.disabled]="currentPage == 1" (click)="goToPreviousPage()"><mat-icon>keyboard_arrow_left</mat-icon></button> 
      <ng-container *ngFor="let page of getVisiblePages()">
        <button class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 hover:ring-sky-500 hover:ring-2 focus:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-transparent"
        (click)="goToPage(page)"
        [class.active]="currentPage == page">
        {{page}}</button>
      </ng-container>
      <button class="relative inline-flex items-center bg-white px-2 py-2 text-sm font-medium text-gray-700 hover:text-sky-500" [class.disabled]="currentPage == totalPages" (click)="goToNextPage()"><mat-icon>keyboard_arrow_right</mat-icon></button> 
      <button class="relative inline-flex items-center bg-white px-2 py-2 text-sm font-medium text-gray-700 hover:text-sky-500" [class.disabled]="currentPage == totalPages" (click)="goToLastPage()"><mat-icon>last_page</mat-icon></button> 
    </div>
  </div>
</div>