<div class="flex justify-center my-10 text-4xl font-bold">
  <h2 class="text-center text-2xl font-semibold mb-4">Ricerca assenze</h2>
</div>

<div class="container">
  <!-- <div class="testo">
    Nome responsabile:
    <input class="inserimento-responsabile" [(ngModel)]="userName" type="text" placeholder="Inserisci il tuo Nome Utente">
    <button (click)="salvaUsername(userName)" class="search-button">Login</button>
  </div> -->
  <div class="flex justify-center">
    <div class="mr-4">
      <mat-form-field appearance="fill">
        <mat-label>Seleziona il filtro</mat-label>
        <mat-select (selectionChange)="scelta($event.value)">
          <mat-option value="0">Stampa tutto</mat-option>
          <mat-option value="1">Richieste da approvare</mat-option>
          <mat-option value="2">Richieste approvate</mat-option>
          <mat-option value="3">Richieste rifiutate</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <div>
      <button (click)="cerca()" class="search-button">Cerca!</button>
    </div>
  </div>
  
</div>
<div class="container">
  <div>
    <table>
      <div class="flex flex-row justify-center my-10" *ngIf="(output_getall && output_getall.length > 0)">
        <table class="w-3/4 text-base text-left rtl:text-right">
            <thead class="text-sm uppercase text-white bg-blue-600">
                <tr>
                    <th scope="col" class="px-6 py-3">Data e ora inizio</th>
                    <th scope="col" class="px-6 py-3">Data e ora fine</th>
                    <th scope="col" class="px-6 py-3">Richiedente</th>
                    <th scope="col" class="px-6 py-3">Note</th>
                    <th scope="col" class="px-6 py-3">Richiesta per</th>
                    <th scope="col" class="px-6 py-3">Stato approvazione</th>
                    <th scope="col" class="px-6 py-3">Approva</th>
                </tr>
            </thead>
 
        <tr *ngFor="let id of output_getall">
 
            <td class="px-6 py-4">{{ id.dataOraInizioAssenza }}</td>
            <td class="px-6 py-4">{{ id.dataOraFineAssenza }}</td>
            <td class="px-6 py-4">{{ id.nomePersona }}</td>
            <td class="px-6 py-4">{{ id.note }}</td>
            <td class="px-6 py-4">{{ id.tipoRichiesta }}</td>
            <td class="px-6 py-4" *ngIf="id.approvazione && id.flagAttivo">Approvata</td>
            <td class="px-6 py-4" *ngIf=" id.approvazione != null && !id.approvazione && id.flagAttivo">Rifiutata</td>
            <td class="px-6 py-4" *ngIf="id.approvazione === null && id.flagAttivo">Da Approvare</td>
            <td class="px-6 py-4 flex gap-5">
              <div>
                <button class = "material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-yellow-600 hover:bg-green-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center" (click)="mostraModalApprovazione(id.idRichiesta, 3)" *ngIf="id.approvazione === null && id.flagAttivo"><mat-icon>edit</mat-icon></button>
                <button class = "material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center" (click)="mostraModalApprovazione(id.idRichiesta, 2)" *ngIf="id.approvazione && id.flagAttivo"><mat-icon>close</mat-icon></button>
                <button class = "material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-green-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center" (click)="approvaDiretto(id.idRichiesta)" *ngIf=" id.approvazione != null && !id.approvazione && id.flagAttivo"><mat-icon>check</mat-icon></button>
                <ng-template #approvalModal let-modal>
                  <h1 class="modal-testo">Approvare o rifiutare richiesta</h1>
                  <button class="button-modal" (click)="approvaRichiesta()" *ngIf="((editable == 1) || (editable == 3)) && (hidemotivazione)">Approva</button> <br>
                  <button class="button-modal" (click)="hidedmodalbutton()" *ngIf="((editable == 2) || (editable == 3)) && (hidemotivazione)">Rifiuta</button> <br>
                  <p class="modal-testo" *ngIf="!hidemotivazione">Inserisci la motivazione:</p>
                  <input class="modal-input" [(ngModel)]="motivazione" type="text" placeholder="Motivazione" *ngIf="!hidemotivazione"> <br>
                  <button class="button-modal" (click)="rifiutaRichiesta()" *ngIf="!hidemotivazione">Salva e rifiuta</button>
                  <button class="button-modal" (click)="chiudiModal()">Annulla</button>
                </ng-template>
              </div>
            </td>
        </tr>
      </table>
    </div>
  <tbody>
      </tbody>
    </table>
 

<div *ngIf="!(output_getall && output_getall.length > 0)">
  Nessun dato disponibile
</div>
</div>
</div>