<div class="py-8 px-4 mx-auto max-w-4xl lg:py-16">
    <h2 class="flex justify-center my-10 text-4xl text-center font-bold">{{ titolo }}</h2>
    <hr>
    <form class="my-8" [formGroup]="rapportoCostiForm">
        <div class="grid gap-4 grid-cols-4 sm:gap-6">
            <div class="col-span-1">
                <label class="block mb-1 text-sm font-medium text-gray-900">Seleziona anno</label>
                <input type="number" formControlName="anno" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-sky-500 focus:ring-sky-500">
                <small *ngIf="rapportoCostiForm.controls['anno'].invalid && rapportoCostiForm.controls['anno'].touched" class="text-red-600">Inserisci un anno valido.</small>
            </div>
            <div class="col-span-1">
                <label class="block mb-1 text-sm font-medium text-gray-900">Seleziona mese</label>
                <input type="number" formControlName="mese" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-sky-500 focus:ring-sky-500">
                <small *ngIf="rapportoCostiForm.controls['mese'].invalid && rapportoCostiForm.controls['mese'].touched" class="text-red-600">Inserisci un mese valido.</small>
            </div>
            <div class="col-span-2">
                <label class="block mb-1 text-sm font-medium text-gray-900">Seleziona azienda</label>
                <select formControlName="idAzienda" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-sky-500 focus:ring-sky-500">
                    <option value="" disabled selected hidden>Scegli un'opzione</option>
                    <option *ngFor="let azienda of societa" [value]="azienda.societaid">{{ azienda.ragionesociale }}</option>
                </select>
                <small *ngIf="rapportoCostiForm.controls['idAzienda'].invalid && rapportoCostiForm.controls['idAzienda'].touched" class="text-red-600">Seleziona un'azienda valida.</small>
            </div>
        </div>
        <div class="grid gap-4 grid-cols-3 sm:gap-6 mt-4">
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-900">Matricole (separate da virgola o spazi)</label>
                <input type="text" formControlName="matricolePersone" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-sky-500 focus:ring-sky-500">
                <small *ngIf="rapportoCostiForm.controls['matricolePersone'].invalid && rapportoCostiForm.controls['matricolePersone'].touched" class="text-red-600">Inserisci matricole valide.</small>
            </div>
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-900">Nome</label>
                <input type="text" formControlName="nome" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-sky-500 focus:ring-sky-500">
            </div>
            <div>
                <label class="block mb-1 text-sm font-medium text-gray-900">Cognome</label>
                <input type="text" formControlName="cognome" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:outline-none focus:border-sky-500 focus:ring-sky-500">
            </div>
        </div>
        <div class="py-8 flex justify-center space-y-4 sm:space-y-0 sm:space-x-4">
            <button type="button" (click)="cercaRapporti()" class="w-full sm:flex-1 px-5 py-2.5 text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:ring-1 focus:outline-none focus:ring-black rounded-lg text-center">Cerca</button>
            <button type="button" (click)="clearForm()" class="w-full sm:flex-1 px-5 py-2.5 text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:ring-1 focus:outline-none focus:ring-black rounded-lg text-center">Cancella</button>
        </div>
    </form>
</div>

<div class="flex justify-center">
    <div class="w-4/5 lg:py-2">
        <div class="overflow-auto rounded-lg shadow">
            <table class="w-full" *ngIf="rapporti && rapporti.length > 0">
                <thead class="bg-gray-100 border-b-2 border-gray-200 rounded-md">
                    <tr>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Matricola Persona</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Nome</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Cognome</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Anno</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Mese</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Azienda</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Ore Lavorate</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Costo Orario</th>
                        <th scope="col" class="w-36 p-3 text-sm font-semibold tracking-wide text-left">Costo Mensile</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-300">
                    <tr *ngFor="let rapporto of paginatedRapporti(); let i = index" [ngClass]="{'bg-white': i % 2 === 0, 'bg-gray-100': i % 2 !== 0}" class="border-b">
                        <td class="p-3 text-sm text-gray-700 flex items-center">{{ rapporto.matricolaPersona }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ rapporto.nome }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ rapporto.cognome }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ rapporto.anno }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ rapporto.mese }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ getRagioneSociale(rapporto.idAzienda) }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ rapporto.oreLavorate }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ rapporto.costoOrario }}</td>
                        <td class="p-3 text-sm text-gray-700">{{ rapporto.totale }}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!rapporti || rapporti.length === 0" class="text-center text-gray-700 p-3">
                Nessun dato disponibile
            </div>
            <app-pagination
                [totalPages]="totalPages"
                [itemsPerPageOptions]="[10, 15, 30]"
                [itemsPerPage]="elementiPerPagina"
                (itemsPerPageChange)="cambiaElementiPerPagina($event)"
                (pageChange)="cambiaPagina($event)">
            </app-pagination>
        </div>
    </div>
</div>
