<div class="flex justify-center my-10 text-4xl font-bold">
    <h2>Ricerca contratti</h2>
</div>
<div class="flex flex-row justify-center my-10">
    <form
        (ngSubmit)="ricercaFiltrata(formDataSearch.anpeNome, formDataSearch.anpeCognome, formDataSearch.anpeCodicefiscale, formDataSearch.ansoSocietaid)">
        <div class="flex flex-row justify-end mt-10">
            <!-- <a routerLink="insert-contratto"> -->
            <!-- <a routerLink="{{componenteMappato.path}}"> -->
            <!-- <a routerLink="{{finalPath}}"> -->
            <a routerLink="{{'/'+menuDinamicoService.finalPath}}">
            <button [disabled]="!menuDinamicoService.funzione.flagCreazione" mat-icon
                class="material-icons w-fit text-base text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2">add</button></a>
        </div>
        <div class="flex flex-row ms-5 ">
            Società
        </div>
        <div class="flex flex-row mb-5">
            <select [(ngModel)]="formDataSearch.ansoSocietaid" class="box" name="Societa" required
                class="mx-5 w-1/2 p-4 ps-5 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500">
                <option disabled selected>--Seleziona la società--</option>
                <option *ngFor="let tipo of tipiSocieta" [value]="tipo.societaid">{{ tipo.ragionesociale }}
                </option>
            </select>
        </div>
        <div class="flex flex-row mb-5">
            <input [(ngModel)]="formDataSearch.anpeNome" name="nome" type="search"
                class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                placeholder="Cerca per nome..." required />
            <input [(ngModel)]="formDataSearch.anpeCognome" name="cognome" type="search"
                class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                placeholder="Cerca per cognome..." required />
            <input [(ngModel)]="formDataSearch.anpeCodicefiscale" name="codiceFiscale" type="search"
                class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                placeholder="Cerca per codice fiscale..." required />
        </div>
        <div class="flex flex-row justify-end mt-10">
            <button type="submit"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cerca</button>
            <button type="button" (click)="clearSearch()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cancella</button>
            <button type="button" (click)="closeForm()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Chiudi</button>
        </div>
    </form>
</div>
<div *ngIf="!output_ricercaFiltrata" class="flex flex-row justify-center text-2xl my-10">Nessun dato disponibile</div>
<div class="flex flex-row"> <!--justify-center-->
    <div *ngIf="output_ricercaFiltrata" class="flex flex-row justify-center">
        <table class="text-base text-left rtl:text-right">
            <thead class="text-sm uppercase text-white bg-blue-600">
                <tr>
                    <th scope="col" class="px-6 py-3">MODIFICA</th>
                    <th scope="col" class="px-6 py-3">ELIMINA</th>
                    <th scope="col" class="px-6 py-3">Nome</th>
                    <th scope="col" class="px-6 py-3">Cognome</th>
                    <th scope="col" class="px-6 py-3">Società</th>
                    <th scope="col" class="px-6 py-3">Inizio Contratto</th>
                    <th scope="col" class="px-6 py-3">Fine Contratto</th>
                    <th scope="col" class="px-6 py-3">Tipo Contratto</th>
                    <th scope="col" class="px-6 py-3">CCNL</th>
                    <th scope="col" class="px-6 py-3">Livello CCNL</th>
                    <th scope="col" class="px-6 py-3">RAL</th>
                    <th scope="col" class="px-6 py-3">Ore settimanali</th>
                    <th scope="col" class="px-6 py-3">Note</th>
                    <!--<th scope="col" class="px-6 py-3">Distacco</th>-->
                    <th scope="col" class="px-6 py-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dipendente of dipendentiConContratto" class="bg-white border-b">
                    <td class="px-6 py-4>">
                        <button [disabled]="!menuDinamicoService.funzione.flagLettura" type="button" name="modifyFieldsDipendentiContratto"
                            (click)="modifyContract(dipendente.codiContrattopersid)" class="material-icons material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-green-600
                            hover:bg-green-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">create</button>
                    </td>
                    <td class="px-6 py-4>">
                        <button [disabled]="!menuDinamicoService.funzione.flagCancellazione" type="button" name="modifyFieldsDipendentiContratto"
                            (click)="deleteContract(dipendente.codiContrattopersid)"
                            class="material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">delete</button>
                    </td>

                    <td class="px-6 py-4 truncate">{{ dipendente.nomeTroncato }}</td>
                    <td class="px-6 py-4 truncate">{{ dipendente.cognomeTroncato }}</td>
                    <td class="px-6 py-4">{{ dipendente.societaPersona }}</td>
                    <td *ngIf="dipendente.codiDatainiziocontratto == null" class="px-6 py-4">....</td>
                    <td *ngIf="dipendente.codiDatainiziocontratto != null" class="px-6 py-4">{{
                        dipendente.codiDatainiziocontratto | date: 'dd-MM-yyyy' }}</td>
                    <td *ngIf="dipendente.codiDatafinecontratto == null" class="px-6 py-4">....</td>
                    <td *ngIf="dipendente.codiDatafinecontratto != null" class="px-6 py-4">{{
                        dipendente.codiDatafinecontratto | date: 'dd-MM-yyyy' }}</td>
                    <td class="px-6 py-4">{{ dipendente.tipodesc }}</td>
                    <td class="px-6 py-4">{{ dipendente.descrizioneCCNL }}</td>
                    <td class="px-6 py-4">{{ dipendente.livelloContratto }}</td>
                    <td class="px-6 py-4">{{ dipendente.codiRalcompenso }}</td>
                    <td class="px-6 py-4">{{ dipendente.codiMonteore }}</td>
                    <td class="px-6 py-4">{{ dipendente.codiNote }}</td>
                    <td *ngIf="dipendente.codsFlagAttiva == null" class="px-6 py-4"></td>
                    <td *ngIf="dipendente.codsFlagAttiva != null">
                        <div class="flex flex-row">
                            <button type="button"
                                (click)="openCronologiaDistaccoModal(dipendente.personaId, dipendente.nome, dipendente.cognome)"
                                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Dettaglio
                                distacco</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>