.A{
    width: 10px;
    height: 10px;
    background-color: rgb(225, 99, 99);
    border-radius: 10px;
    
}


.delete{
  color: white;
  background-color: red;
  margin:2px;
}

.copy{
  background-color: #0dcaf0;
  color: white;
  margin:2px;
  

}


.AP{
    background-color: teal;
    color: white;
    flex-grow: 4
    margin 2px;
    padding: 2px;
}

.AS{
    background-color: teal;
    color: rgb(236, 218, 81);
    flex-grow: 4
    margin 2px;
    padding:2px;
}

.Provasss{
    color: red;
}



.assenzaDaValutare{
    background-color: rgb(228, 228, 29);
  }

  .assenzaConfermata{

    background-color: teal;
    color: white;
  }

  .assenzaRifiutata{
    background-color: rgb(231, 32, 32);
  }


  .giornoConfermato{
    background-color:teal;
    color:white;
    margin: 2px;
    padding:2px;
  }

  .giornoNONConfermato{
    background-color: #ffc107;
    margin: 2px;
    padding:2px;

  }