.A{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 10px;
    
}

.AP{
    background-color: green;
    color: white;
}

.AS{
    background-color: green;
    color: rgb(236, 218, 81);

}