<div>
  
    <div class="flex flex-row">
      <p class="flex- grow font-bold text-2xl" [class.Provasss]="giornoFestivo">{{giorno.dataNumero}}</p>

      <button (click)="ClickMe()" >  <mat-icon>create</mat-icon>  </button> 
      <button *ngIf="this.giorno.listaAttivitaGiorno.length > 0" (click)="CopiaGiorno()" >  <mat-icon>content_copy</mat-icon>  </button> 
      <button (click)="Delete(giorno.giornoLavorativoId!)" >  <mat-icon color="warn">delete</mat-icon>  </button> 
    </div>
    <hr>
    <div *ngFor="let attivita of giorno.listaAttivitaGiorno" class="container text-xs m-1 p-1">
      
      <div class="AP row border-bottom m-[1px] p-[1px] "><span>{{attivita.nomeProgetto}}</span></div>
      
      <div class="AS row border-bottom flex m-[1px] p-[1px]"><span class="grow">{{attivita.sedeLavoro}}</span> <span> {{attivita.oreLavorate}} h</span></div>
    </div>
    <div>

      <div *ngFor="let assenza of giorno.listaAssenzeGiorno" class="container text-xs m-1 p-1">
      <div class="bg-red-600 row border-bottom m-[1px] p-[1px] ">assenza</div>
      </div>
    </div>
  </div>