<div>
  
    <div class="flex flex-row">
      <p class="flex- grow">{{giorno.dataNumero}}</p>

      <hr>

      <button (click)="ClickMe()" >  <mat-icon>create</mat-icon>  </button> 
    </div>
    <div *ngFor="let attivita of giorno.listaAttivitaGiorno" class="container text-xs m-1 p-1">
      
      <div class="AP row border-bottom m-[1px] p-[1px] "><span>{{attivita.nomeProgetto}}</span></div>
      
      <div class="AS row border-bottom flex m-[1px] p-[1px]"><span class="grow">aa{{attivita.sedeLavoro}}</span> <span> {{attivita.oreLavorate}} h</span></div>
     
    </div>
    
  </div>