.A{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 10px;
    
}

.AP{
    background-color: teal;
    color: white;
    flex-grow: 4
    margin 2px;
    padding: 2px;
}

.AS{
    background-color: teal;
    color: rgb(236, 218, 81);
    flex-grow: 4
    margin 2px;
    padding:2px;
}

.Provasss{
    color: red;
}



.assenzaDaValutare{
    background-color: rgb(228, 228, 29);
  }

  .assenzaConfermata{

    background-color: rgb(91, 141, 42);
  }

  .assenzaRifiutata{
    background-color: rgb(231, 32, 32);
  }


  .giornoConfermato{
    background-color:teal;
  }

  .giornoNONConfermato{
    background-color: yellow;
  }