<div class="container">
  <div class="testo">
    <input [(ngModel)]="userName" type="text" placeholder="Inserisci il tuo Nome Utente">
    <!--<button (click)="salvaUsername(userName)" class="search-button">Login</button>-->
  </div>
  <div>
    <select name="Seleziona il filtro" required>
      <option (click)="scelta(0)">Stampa tutto</option>
      <option (click)="scelta(1)">Richieste da modificare</option>
      <option (click)="scelta(2)">Richieste approvate</option>
      <option (click)="scelta(3)">Richieste rifiutate</option>
    </select>
  </div>

  <div>
    <button (click)="cerca()" class="search-button">Cerca!</button>
  </div>

  <div>
    <div class="expanded-section" *ngIf="expandedSection === 'DaModificare'">
      <h1>Ricerca richieste da modificare : </h1>
      getall
      <div *ngIf="(output_getall && output_getall.length)">
        <h2>Richieste Da Esaminare</h2>
        <h2></h2>
        <table>
          <thead>
            <tr>
              <th>Data e ora inizio: </th>
              <th>Data e ora fine: </th>
              <th>Richiedente</th>
              <th>Note</th>
              <th>Richiesta per:</th>
              <th>Id:</th>
              <th>Approvazione</th>
              <th>flagAttivo</th>
              <th>approvazione</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let id of output_getall">
              <h2>{{ id.flagAttivo }} {{ id.approvazione }} {{ id.flagAttivo && !id.approvazione }}</h2>
              <div *ngIf="id.flagAttivo && !id.approvazione">
                <td>{{ id.dataOraFineAssenza }}</td>
                <td>{{ id.dataOraInizioAssenza }}</td>
                <td>{{ id.nomePersona }}</td>
                <td>{{ id.note }}</td>
                <td>{{ id.tipoRichiesta }}</td>
                <td>{{ id.idRichiesta }}</td>
                <td>{{ id.flagAttivo }}</td>
                <td>{{ id.approvazione }}</td>
                <td>
                  <div>
                    <button (click)="mostraModalApprovazione(id.idRichiesta)">Modifica</button>
                    <ng-template #approvalModal let-modal class="modal-container">
                      <h1>Approvare o rifiutare richiesta</h1>
                      <p>Inserisci la motivazione:</p>
                      <input [(ngModel)]="motivazione" type="text" placeholder="Motivazione">
                      <button (click)="approvaRichiesta()">Approva</button>
                      <button (click)="rifiutaRichiesta()">Rifiuta</button>
                    </ng-template>
                    <div class="container">
                    </div>
                  </div>
                </td>
              </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h2>Richieste Da Esaminare</h2>
    <h2></h2>
    <table>
      <thead>
        <tr>
          <th>Data e ora inizio: </th>
          <th>Data e ora fine: </th>
          <th>Richiedente</th>
          <th>Note</th>
          <th>Richiesta per:</th>
          <th>Id:</th>
          <th>Approvazione</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let id of output_getall">
          <td>{{ id.dataOraFineAssenza }}</td>
          <td>{{ id.dataOraInizioAssenza }}</td>
          <td>{{ id.nomePersona }}</td>
          <td>{{ id.note }}</td>
          <td>{{ id.tipoRichiesta }}</td>
          <td>{{ id.idRichiesta }}</td>
          <td>
            <div>
              <button class="modifica-button" (click)="mostraModalApprovazione(id.idRichiesta)" *ngIf="!id.approvazione && id.flagAttivo">Modifica</button>
              <button class="rifiuta-button" (click)="mostraModalApprovazione(id.idRichiesta)" *ngIf="id.approvazione && id.flagAttivo">Rifiuta</button>
              <button class="approva-button" (click)="mostraModalApprovazione(id.idRichiesta)" *ngIf="!id.approvazione && !id.flagAttivo">Approva</button>
              <ng-template #approvalModal let-modal class="modal-container">
                <h1>Approvare o rifiutare richiesta</h1>
                <p>Inserisci la motivazione:</p>
                <input [(ngModel)]="motivazione" type="text" placeholder="Motivazione">
                <button (click)="approvaRichiesta()">Approva</button>
                <button (click)="rifiutaRichiesta()">Rifiuta</button>
              </ng-template>
              <div class="container">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!(output_getall && output_getall.length > 0)">
    Nessun dato disponibile
  </div>

</div>