<div class="container">
  <div class="testo">
    Nome responsabile:
    <input class="inserimento-responsabile" [(ngModel)]="userName" type="text" placeholder="Inserisci il tuo Nome Utente">
    <!--<button (click)="salvaUsername(userName)" class="search-button">Login</button>-->
  </div>
  <div>
    <select name="Seleziona il filtro" required>
      <option (click)="scelta(0)">Stampa tutto</option>
      <option (click)="scelta(1)">Richieste da approvare</option>
      <option (click)="scelta(2)">Richieste approvate</option>
      <option (click)="scelta(3)">Richieste rifiutate</option>
    </select>
  </div>

  <div>
    <button (click)="cerca()" class="search-button">Cerca!</button>
  </div>
</div>
<div class="container">
  <div>
    <table>
      <thead>
        <tr>
          <th>Data e ora inizio: </th>
          <th>Data e ora fine: </th>
          <th>Richiedente</th>
          <th>Note</th>
          <th>Richiesta per:</th>
          <th>Id:</th>
          <th>Approvazione</th>
          <th>stato approvazione</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let id of output_getall">
          <td>{{ id.dataOraInizioAssenza }}</td>
          <td>{{ id.dataOraFineAssenza }}</td>
          <td>{{ id.nomePersona }}</td>
          <td>{{ id.note }}</td>
          <td>{{ id.tipoRichiesta }}</td>
          <td>{{ id.idRichiesta }}</td>
          <td  *ngIf="id.approvazione && id.flagAttivo">Approvata</td>
          <td  *ngIf="!id.approvazione && !id.flagAttivo">Rifiutata</td>
          <td  *ngIf="!id.approvazione && id.flagAttivo">Da Approvare</td>
          <td>
            <div>
              <button class="button" (click)="mostraModalApprovazione(id.idRichiesta, 3)" *ngIf="!id.approvazione && id.flagAttivo" >Modifica</button>
              <button class="button" (click)="mostraModalApprovazione(id.idRichiesta, 2)" *ngIf="id.approvazione && id.flagAttivo" >Rifiuta</button>
              <button class="button" (click)="mostraModalApprovazione(id.idRichiesta, 1)" *ngIf="!id.approvazione && !id.flagAttivo" >Approva</button>
              <ng-template #approvalModal let-modal>
                <h1 class="modal-testo">Approvare o rifiutare richiesta</h1>
                <button class="button-modal" (click)="approvaRichiesta()" *ngIf="((editable == 1) || (editable == 3)) && (hidemotivazione)">Approva</button> <br>
                <button class="button-modal" (click)="hidedmodalbutton()" *ngIf="((editable == 2) || (editable == 3)) && (hidemotivazione)">Rifiuta</button> <br>
                <p class="modal-testo" *ngIf="!hidemotivazione">Inserisci la motivazione:</p>
                <input class="modal-input" [(ngModel)]="motivazione" type="text" placeholder="Motivazione" *ngIf="!hidemotivazione"> <br>
                <button class="button-modal" (click)="rifiutaRichiesta()" *ngIf="!hidemotivazione">Salva e rifiuta</button>
                <button class="button-modal" (click)="chiudiModal()">Annulla</button>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>


<div *ngIf="!(output_getall && output_getall.length > 0)">
  Nessun dato disponibile
</div>
</div>
</div>