.Presente{
    background-color: yellow;
}


.Aggiunto{
    background-color: greenyellow;
}
.Disponibile{
    background-color: gray;
}
.Rimosso{
    background-color: red;
}

[disabled] {
    background-color: grey;
}    