<div class="flex justify-center my-10 text-4xl font-bold">
    <h2>Nuovo Ruolo</h2>
</div>
<div class="flex justify-center">
    <form (ngSubmit)="addFunzioneToRuolo()" class="w-1/3">
        <br>

        <div class="flex flex-row ms-5 ">
            Ruolo*
        </div>
        <!--
            <div class="flex flex-row mb-5">
                <select [(ngModel)]="formData.ruoli" name="ruoli"
                    class="mx-5 w-full p-4 ps-5 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                    required>
                    <option>ruolo1</option>
                    <option>ruolo2</option>
                </select>
            </div>
            -->
        <div class="flex flex-row mb-5">
            <input [(ngModel)]="ruolo" name="ruolo" type="text"
                class="mx-5 w-full p-4 ps-5 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                placeholder="Inserisci nuovo ruolo..." required />
        </div>
        <div class="flex flex-row ms-5 ">
            Funzione* <!-- {{ this.idFunzione }} -->
        </div>
        <div class="flex flex-row mb-5">

            <select [(ngModel)]="idFunzione" name="syapIdfunzione"
                class="mx-5 w-full p-4 ps-5 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
                required>
                <option *ngFor="let funzione of allFunzioni" [value]="funzione.syapIdfunzione">{{
                    funzione.syapDescrizione }}
                </option>


            </select>
        </div>
        <div class="flex flex-row justify-center my-10">
            <button type="submit"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Aggiungi</button>
            <!--
                <button type="button" (click)="getAllFunzioni()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">TEST</button>
            -->
        </div>
    </form>
</div>

<div class="flex justify-center">
    <form (ngSubmit)="addRuolo()" class="w-2/3">

        <!--<div *ngIf="!output_ricercaFiltrata" class="flex flex-row justify-center text-2xl my-10">Nessun dato disponibile</div>-->
        <div class="flex flex-row my-10"> <!--justify-center-->
            <!--<div *ngIf="output_ricercaFiltrata" class="flex flex-row justify-center my-10">--->
            <table class="w-full text-base text-left rtl:text-right">
                <thead class="text-sm uppercase text-white bg-blue-600">
                    <tr>
                        <th scope="col" class="px-6 py-3">ELIMINA</th>
                        <th scope="col" class="px-6 py-3">Funzione</th>
                        <th scope="col" class="px-6 py-3">Voce menù</th>
                        <th scope="col" class="px-6 py-3">Lettura</th>
                        <th scope="col" class="px-6 py-3">Creazione</th>
                        <th scope="col" class="px-6 py-3">Modifica</th>
                        <th scope="col" class="px-6 py-3">Cancellazione</th>
                        <th scope="col" class="px-6 py-3">Ordinamento menù</th>
                        <th scope="col" class="px-6 py-3">Menù padre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of arrayObjectRuoloFunzioni; index as i" class="bg-white border-b">

                        <td class="px-6 py-4>">
                            <button type="button" name="deleteFunzione" (click)="deleteFunzione(element, i)"
                                class="material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">delete</button>
                        </td>
                        <!-- <td class="px-6 py-4"> {{ element.syapIdfunzione }} </td> -->
                        <td class="px-6 py-4"> {{ element.syapDescrizione }} </td>
                        <td class="px-6 py-4">
                            <input (change)="checkVoceDiMenu()" type="checkbox" [(ngModel)]="element.flagVoceDiMenu"
                                name="Vocedimenu">
                            {{ element.flagVoceDiMenu }} <!-- {{counterVociDiMenu}} -->
                        </td>
                        <td class="px-6 py-4">
                            <input type="checkbox" [(ngModel)]="element.flagLettura" name="Lettura">
                            {{ element.flagLettura }}
                        </td>
                        <td class="px-6 py-4">
                            <input type="checkbox" [(ngModel)]="element.flagCreazione" name="Creazione">
                            {{ element.flagCreazione }}
                        </td>
                        <td class="px-6 py-4">
                            <input type="checkbox" [(ngModel)]="element.flagModifica" name="Modifica">
                            {{ element.flagModifica }}
                        </td>
                        <td class="px-6 py-4">
                            <input type="checkbox" [(ngModel)]="element.flagCancellazione" name="Cancellazione">
                            {{ element.flagCancellazione }}
                        </td>
                        <td class="px-6 py-4">
                            <select name="Ordinamento" [disabled]="!element.flagVoceDiMenu"
                                [attr.size]="arrayObjectRuoloFunzioni.length">
                                <option *ngFor="let element of arrayObjectRuoloFunzioni; index as i">
                                    {{ i }}
                                </option>
                            </select>
                        </td>
                        <td class="px-6 py-4">
                            <!--
                            <select name="Menupadre" [disabled]="element.flagVoceDiMenu">
                                [(ngModel)]="formData.Lettura"
                                <option>1</option>
                                <option>2</option>
                            </select>
                            -->
                            <!-- (allFunzioniVociDiMenu.length-1): meno 1 in quanto utilizzo la voce 'nessuna' come 
                            valore di default sempre presente e selezionabile nell'array menù padre -->
                            <select [disabled]="element.flagVoceDiMenu || (allFunzioniVociDiMenu.length-1) == 0"
                                name="menuPadre"> <!-- [(ngModel)] annulla le condizioni di [disabled] ????? -->
                                <option *ngFor="let element of allFunzioniVociDiMenu; index as i" [value]="element.syapIdfunzione">
                                    {{ element.syapDescrizione }} {{ allFunzioniVociDiMenu.length}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--</div>-->
        </div>

        <br> <br>
        <div class="flex flex-row justify-center mt-10">
            <button type="submit" [disabled]="arrayObjectRuoloFunzioni.length == 0 || ruolo == ''"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Inserisci</button>
            <!--
            <button type="button" (click)="clearSearch()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cancella</button>
            -->
            <button type="button" (click)="closeForm()"
                class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Chiudi</button>
        </div>
    </form>
</div>
<br> <br>