<div class = "flex justify-center my-10 text-4xl font-bold">
    <h2>Ricerca Commessa</h2>
</div>
<div class = "flex flex-row justify-center my-10">
    <form [formGroup]="ricercaForm" class="w-3/4">
        <div class="flex flex-row justify-end mt-10">
            <a routerLink="/salva-commessa"><button (click)="setTitoloNuovaCommessa()" mat-icon class = "material-icons w-fit text-base text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2">add</button></a>
        </div>
        <div class="flex flex-row mb-5">
            <input formControlName = "DescCommessa" type="search" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per descrizione..." required />
            <input formControlName = "DataInizio" type="date" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per data inizio..." required />
            <input formControlName = "DataFine" type="date" class="mx-5 w-full p-4 ps-10 text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500" placeholder="Cerca per data fine..." required />
        </div>
        <div class="flex justify-center">
            <div class="mr-4">
              <mat-form-field appearance="fill">
                <mat-label>Seleziona il filtro</mat-label>
                <mat-select>
                  <mat-option value="0">Non Attiva</mat-option>
                  <mat-option value="1">Attiva</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div class = "flex flex-row justify-end mt-10">
            <button (click)="clearSearch()" class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cancella</button>
            <button type="submit"(click)="ricercaFiltrata()" class=" w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">Cerca</button>
        </div>
    </form>
</div>

<div class = "flex justify-center my-10 text-4xl font-bold">
    <h2>Elenco Commesse</h2>
</div>
    <div class="flex flex-row justify-center">
        <table class="w-4/5 text-base text-left rtl:text-right my-10">
            <thead class="text-sm uppercase text-white bg-blue-600">
                <tr>
                    <th scope="col" class="px-6 py-3">Azioni</th>
                    <th scope="col" class="px-6 py-3">Descrizione</th>
                    <th scope="col" class="px-6 py-3">Data Inizio</th>
                    <th scope="col" class="px-6 py-3">Data Fine</th>
                    <th scope="col" class="px-6 py-3">Attivo</th>
                </tr>
            </thead>
            <tbody>
                <!--<tr *ngFor="let commessa of datiCommessa" class="bg-white border-b">
                    <td class="px-6 py-4 flex gap-3">
                        <a routerLink="/Segreteria/salva-commessa" (click)="setTitoloModificaPassword(); getDipendente(commessa.Commessaid)"><button mat-icon class = "material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-green-600 hover:bg-green-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">create</button></a>
                        <button mat-icon (click)="openDialogDelete(commessa.Commessaid)" class = "material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">delete</button>
                    </td>
                    <td class="px-6 py-4">{{ commessa.DescCommessa }}</td>
                    <td class="px-6 py-4">{{ commessa.DataInizio }}</td>
                    <td class="px-6 py-4">{{ commessa.DataFine }}</td>
                    <td class="px-6 py-4">{{ commessa.FlagAttivo }}</td>
                </tr>-->
            </tbody>
        </table>
    </div>
