<ng-container *ngIf="errorMessage; else succesTitle">
    <h2 class = "text-red-500" mat-dialog-title>Errore!</h2>
    </ng-container>
    <ng-template #succesTitle>
        <h2 class = "text-green-500" mat-dialog-title>Successo!</h2>
    </ng-template>
    <mat-dialog-content>{{errorMessage || successMessage}}</mat-dialog-content>
    <mat-dialog-actions class = "flex flex-col">
      <button mat-button mat-dialog-close class = "w-4/5px-5 py-2.5 text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:ring-1 focus:outline-none focus:ring-black rounded-lg text-center">Chiudi</button>
    </mat-dialog-actions>