<!-- File dipendente-->    
<div class="flex w-full justify-start gap-9 -mx-3 flex-nowrap mb-10 mt-16 px-3">
    <input type = "file" class= "text-gray-900 sm:text-sm rounded-lg block file:mr-4 file:py-2 file:px-4
    file:rounded-lg file:border-0
    file:cursor-pointer
    file:text-sm file:font-semibold
    file:bg-blue-600 file:text-white
    hover:file:bg-blue-700" (change)="onFileSelected($event)" #fileUploader>
    <button (click)="addFile()" class = " h-1/4 w-1/4 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Aggiungi</button>
  </div>

  <div class="w-full">
    <table *ngIf="isTableVisibile" class="w-full text-base text-left rtl:text-right my-10">
      <thead class="text-sm uppercase text-white bg-blue-600">
        <tr>
          <th scope="col" class="px-6 py-3">Azioni</th>
          <th scope="col" class="px-6 py-3">Nome file</th>
          <th scope="col" class="px-6 py-3">Dimensioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of selectedFiles">
          <td class="px-6 py-4 flex gap-3">
            <button mat-icon class="material-icons text-red-600" (click)="removeFile(file)">clear</button>
            <button mat-icon class ="material-icons text-green-600" (click)="downloadFile(file)">save_alt</button>
          </td>
          <td class="px-6 py-4">{{file.name}}</td>
          <td class="px-6 py-4">{{getFileSize(file.size)}}</td>
        </tr>
      </tbody>

    </table>
  </div>
