.dialog{
    margin: 20px;
    padding: 20px;
    
}




.datadiv{
    display: flex;
    justify-content: center;
    align-content: center;

}

.A, .B, .C{
    margin: 12px;
    
    
}

.example-section, .aggiungi{
    margin: 12px;
}