
<div class="datadiv">
<p class="p-2 m-2"> {{data.giornoData}} </p>
</div>

<div class="datadiv">

<p class="p-2 m-2">{{data.ingresso}}</p>
<p class="p-2 m-2">{{data.inizioPausa}}</p>
<p class="p-2 m-2">{{data.finePausa}}</p>
<p class="p-2 m-2">{{data.uscita}}</p>


</div>

<div>

<button mat-raised-button type="button">  Aggiungi Ordinario  </button>
<button mat-raised-button type="button">  Aggiungi Assenza </button>
<button mat-raised-button type="button">  Aggiungi Reperibilità </button>



</div>