<div class="dialog">
  <div class="datadiv">
    <p mat-dialog-title>{{data.giorno.dataNumero}} {{rapportinoService.risposta.rapportino.dataRapportino | date:"LLLL yyyy"}}</p>
    <p mat-dialog-title> {{giorno.giornoLavoroId}} </p>
    
  </div>

  <mat-dialog-content>
    <div class="datadiv">
      <div>
        <label> Ora entrata </label>
        <mat-form-field>
          <mat-label> ora entrata </mat-label>
          <mat-select [(value)]="giorno.oraEntrata">
            <mat-option *ngFor="let orario of rapportinoService.orari" [value]="orario">{{
               orario
             }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <label> Ora inizio pausa </label>
        <mat-form-field>
          <mat-label> ora inizio pausa </mat-label>
          <mat-select [(value)]="giorno.oraInizioPausa">
            <mat-option *ngFor="let orario of rapportinoService.orari" [value]="orario">{{
               orario
             }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <label> Ora fine pausa </label>
        <mat-form-field>
          <mat-label> ora fine pausa </mat-label>
          <mat-select [(value)]="giorno.oraFinePausa">
            <mat-option *ngFor="let orario of rapportinoService.orari" [value]="orario">{{
               orario
             }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div>
        <label> Ora uscita</label>
        <mat-form-field>
          <mat-label> ora uscita </mat-label>
          <mat-select [(value)]="giorno.oraUscita">
           <mat-option *ngFor="let orario of rapportinoService.orari" [value]="orario">{{
              orario
            }}</mat-option>
            
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <hr />
    <div class="flex justify-center">
      <button
        class="A"
        mat-raised-button
        color="primary"
        type="button"
        (click)="MostraOrdinario()"
      >
        Aggiungi Ordinario
      </button>

      <button class="B" mat-raised-button color="accent" type="button" (click)="MostraAssenza()"> 
        Aggiungi Assenza
      </button>

      <button
        class="C"
        mat-raised-button
        color="warn"
        type="button"
        (click)="MostraReperibilita()"
      >
      Aggiungi Reperibilità
      </button>
    </div>
    <hr />



    <div *ngIf="showOrdinario">
      <app-aggiungi-ordinario [giornoLavorativoId]="data.giorno.giornoLavorativoId!" (mandaNuovaAttivitaInserita)="AttivitaOrdinariaAggiunta($event)" > </app-aggiungi-ordinario>
    </div>

    <div *ngIf="showAssenza">

      <app-aggiungi-assenza></app-aggiungi-assenza>
    </div>

    <div *ngIf="showReperibilita">
    <app-aggiungi-reperibilita></app-aggiungi-reperibilita>
    
    </div>
  </mat-dialog-content>

 <div class="MostraAttivita"> 

  <div  *ngFor="let attivita of data.giorno.listaAttivitaGiorno"  class="attivita bg-teal-dark text-light">
    <div class="qualcosa">ordinario</div>
    <div class="qualcosa">{{attivita.nomeProgetto}}</div>
    <div class="qualcosa">{{attivita.sedeLavoro}}</div>
    <div class="qualcosa">{{attivita.oreLavorate}}h</div>
    <div class="qualcosa"><button (click)="EliminaAttivita(attivita.attivitaId!)"><mat-icon>delete</mat-icon></button></div>

  </div>
</div>
  
  <button
  class="D"
  mat-raised-button
  color="basic"
  type="button"
  (click)="ConfermaGiorno()"
>
Conferma
</button>

<button
class="E"
mat-raised-button
color="warn"
type="button"
(click)="AnnullaGiorno()"
>
Annulla
</button>


