<div class="my-10 flex justify-center">

    
    <!-- <select required (input)="CambiaMese($event)" >
        <option ngDefaultControl value=0>--Seleziona Tipo--</option>
        <option required *ngFor="let mese of listaMesi;index as i" [value]="mese"> {{mese | date:"yyyy LLLL"}}</option>
    </select > -->
    <mat-form-field>
        <mat-label>Mese</mat-label>
        <mat-select (valueChange)="CambiaMese($event)" [(value)]="giornoDefault" >
            <div *ngFor="let mese of listaMesi;index as i" >

                <mat-option   [value]="mese">
                    {{mese | date:"yyyy LLLL"}}
                </mat-option>
            </div>
        </mat-select>
    </mat-form-field>
    
</div>

<div class= "flex  flex-wrap w-[1200px] min-w-[1200px]">

        <div class="giorni">Lunedi</div>
        <div class="giorni">Martedi</div>
        <div class="giorni">Mercoledi</div>
        <div class="giorni">Giovedi</div>
        <div class="giorni">Venerdi</div>
        <div class="giorni">Sabato</div>
        <div class="giorni">Domenica</div>

        
        <div *ngFor=" let test of rapportinoService.giorniMesePassato " class="cubo cuboLast p-2 font-bold text-2xl">{{test}}</div>
        
        <div *ngFor=" let test of rapportinoService.risposta.listaGiorniLavoroMese; index as i " class="cubo cubocURRENT p-2">
            <app-giorno-calendario [giorno]="rapportinoService.risposta.listaGiorniLavoroMese[i]"/></div>
        
        <div *ngFor=" let test of rapportinoService.giorniMeseSeguente " class="cubo cuboNext p-2 font-bold text-2xl">{{test}}</div>
        
    
    
</div>



<br>

<button (click)="rapportinoService.RaccogliInfoPersona()">provami</button>



