<div class="flex flex-col justify-center my-10 text-center font-bold">
  <div class="text-4xl text-center">
    <div *ngIf="ruoloId == null || ruoloId == undefined ">
      <div>Inserimento Nuovo Ruolo</div>
    </div>
    <div *ngIf="ruoloId != null && ruoloId != undefined">
      <h1>Aggiorna Funzioni Ruolo</h1>
    </div>
  </div>


  <div>
    <input [(ngModel)]="ruoloDaAggiungere.nomeRuolo"
      class="min-w-52 mt-10 text-center text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      placeholder="Nome Ruolo..." />
  </div>

  <!--<div class="border-b-4 border-gray-600 m-20"></div>-->

  <div class="mt-20">
    <!--<label class="text-gray-700 text-2xl">Seleziona Funzione da Aggiungere</label><br />-->
    <label class="text-gray-700 text-lg">Aggiungi funzione</label><br />
    <!--<select (change)="AggiungiFunzione()" placeholder="seleziona ruoli da Aggiungere"-->
    <select placeholder="seleziona ruoli da Aggiungere"
      class="p-4 m-4  text-gray-900  border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
      [(ngModel)]="nuovaFunzione">


      <option [value]="0" class="p-10 m-10">--seleziona funzione--</option>

      <option *ngFor="let funzione of listaFunzioniDisponibili" [value]="funzione.funzioneId">
        {{ funzione.nomeFunzione }}
      </option>
    </select>

    <button (click)="AggiungiFunzione()"
      class="w-auto mt-12 text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">
      Aggiungi
    </button>
  </div>

  <div *ngIf="ruoloDaAggiungere.listaFunzioni.length > 0">
    <div class="flex justify-center mt-10">
      <table>
        <thead class="text-sm uppercase text-white bg-blue-600">
          <tr>
            <th scope="col" class="px-6 py-3">ELIMINA</th>
            <th scope="col" class="px-6 py-3">Funzione</th>
            <th scope="col" class="px-6 py-3">Voce menù</th>
            <th scope="col" class="px-6 py-3">Lettura</th>
            <th scope="col" class="px-6 py-3">Creazione</th>
            <th scope="col" class="px-6 py-3">Modifica</th>
            <th scope="col" class="px-6 py-3">Cancellazione</th>
            <th scope="col" class="px-6 py-3">Ordinamento menù</th>
            <th scope="col" class="px-6 py-3">Menù padre</th>
          </tr>

        </thead>
        <tbody>

          <tr *ngFor="let funzione of ruoloDaAggiungere.listaFunzioni" class="bg-white border-b">
            <td class="px-6 py-4>">
              <button type="button" (click)="RimuoviFunzione(funzione.funzioneId!)"
                class="material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">delete</button>
            </td>
            <td class=" px-6 py-4 ">{{funzione.nomeFunzione}}</td>


            <td class=" px-6 py-4  "><input type="checkbox" class=" px-6 py-4 m-5 rounded-full w-4 h-4 "
                (change)="AggiornaCampo(funzione.funzioneId!,0);this.SortListaFunzioni()" [defaultChecked]="funzione.flagVoceMenu"></td>
            <td class=" px-6 py-4  "><input type="checkbox" class=" px-6 py-4 m-5 rounded-full w-4 h-4 "
                (click)="AggiornaCampo(funzione.funzioneId!,1)" [defaultChecked]="funzione.flagLettura"></td>

            <td class=" px-6 py-4  "><input type="checkbox" class=" px-6 py-4 m-5 rounded-full w-4 h-4 "
                (click)="AggiornaCampo(funzione.funzioneId!,2)" [defaultChecked]="funzione.flagCreazione"></td>

            <td class=" px-6 py-4  "><input type="checkbox" class=" px-6 py-4 m-5 rounded-full w-4 h-4 "
                (click)="AggiornaCampo(funzione.funzioneId!,3)" [defaultChecked]="funzione.flagModifica"></td>


            <td class=" px-6 py-4  "><input type="checkbox" class=" px-6 py-4 m-5 rounded-full w-4 h-4 "
                (click)="AggiornaCampo(funzione.funzioneId!,4)" [defaultChecked]="funzione.flagCancellazione"></td>



            <!-- <td class=" px-6 py-4  "><button class="m-4 rounded-full w-full h-full"
                (click)="AggiornaCampo(funzione.funzioneId!,2)"><mat-icon style="color: green;"
                  *ngIf="funzione.flagCreazione;else unconfirmed">check
                </mat-icon></button></td>
            <td class=" px-6 py-4  "><button class="m-4 rounded-full w-full h-full"
                (click)="AggiornaCampo(funzione.funzioneId!,3)"><mat-icon style="color: green;"
                  *ngIf="funzione.flagModifica;else unconfirmed">check
                </mat-icon></button></td>
            <td class=" px-6 py-4   "><button class="m-4 rounded-full w-full h-full"
                (click)="AggiornaCampo(funzione.funzioneId!,4)"><mat-icon style="color: green;"
                  *ngIf="funzione.flagCancellazione;else unconfirmed">check
                </mat-icon></button></td> -->
            <td class=" px-6 py-4   ">
              <input [disabled]="!funzione.flagVoceMenu" min="1" [max]="listaMenuPadre.length" (change)="AggiornaIndiciMenu(funzione.funzioneId!,funzione.indiceMenu)" [(ngModel)]="funzione.indiceMenu" type="number">
            </td>
            <td class="px-6 py-4">
              <select [disabled]="funzione.flagVoceMenu" (change)="AggiornaCampo(funzione.funzioneId!,6)">
                <option value="0">--scegli padre--</option>
                <option *ngFor="let padre of listaMenuPadre" [value]="padre.funzioneId">{{padre.nomeFunzione}}</option>

              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex flex-row justify-end w-5/6 mt-20">
    <button
      [disabled]="this.ruoloDaAggiungere.nomeRuolo == null || this.ruoloDaAggiungere.nomeRuolo == undefined || this.ruoloDaAggiungere.nomeRuolo == '' || ruoloDaAggiungere.listaFunzioni.length == 0"
      *ngIf="ruoloId == null" (click)="InserisciNuovoRuolo()"
      class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">
      Crea Ruolo
    </button>
    <button *ngIf="ruoloId != null" (click)="AggiornaFunzioniRuolo()"
      class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center">
      Aggiorna Ruolo
    </button>
    <button *ngIf="ruoloId == null"
      class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
      type="button" (click)="CancellaLista()">Cancella</button>
    <button *ngIf="ruoloId != null"
      class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
      type="button" (click)="ReimpostaLista()">Reimposta</button>
    <button
      class="w-auto text-white text-base bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg mx-5 px-5 py-2.5 text-center"
      type="button" (click)="CloseForm()">Chiudi</button>
  </div>