

<div class="flex flex-col justify-center my-10 text-center font-bold">
    <div class="text-4xl text-center">
      <div *ngIf="ruoloId == null || ruoloId == undefined ">
        <div>Inserimento Nuovo Ruolo</div>
      </div>
      <div *ngIf="ruoloId != null && ruoloId != undefined">
        <h1>Aggiorna Funzioni Ruolo</h1>
      </div>
    </div>
  
    
    <div>
      <input 
        [(ngModel)]="ruoloDaAggiungere.nomeRuolo"
        class="min-w-52 mt-10 text-center text-base text-gray-900 border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
        placeholder="Nome Ruolo..."
        
        
      />
    </div>
    
    <!--<div class="border-b-4 border-gray-600 m-20"></div>-->

    <div class="mt-20">
        <label class="text-gray-700 text-2xl">Seleziona Funzione da Aggiungere</label><br />
        <select
          (change)="AggiungiFunzione()"
          placeholder="seleziona ruoli da Aggiungere"
          class="p-4 m-4  text-gray-900  border-b-2 border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500"
          [(ngModel)]="nuovaFunzione"
        >
        
    
          <option [value]="0" class="p-10 m-10">--seleziona funzione--</option>
        
          <option
            *ngFor="let funzione of listaFunzioniDisponibili"
            [value]="funzione.funzioneId"
          >
            {{ funzione.nomeFunzione }}
          </option>
        </select>
      </div>

      <div class="flex justify-center mt-10">
        <div class="w-2/3">
            <table>
                <thead class="text-sm uppercase text-white bg-blue-600">
                    <tr>
                        <th scope="col" class="px-6 py-3">ELIMINA</th>
                        <th scope="col" class="px-6 py-3">Funzione</th>
                        <th scope="col" class="px-6 py-3">Voce menù</th>
                        <th scope="col" class="px-6 py-3">Lettura</th>
                        <th scope="col" class="px-6 py-3">Creazione</th>
                        <th scope="col" class="px-6 py-3">Modifica</th>
                        <th scope="col" class="px-6 py-3">Cancellazione</th>
                        <th scope="col" class="px-6 py-3">Ordinamento menù</th>
                        <th scope="col" class="px-6 py-3">Menù padre</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let funzione of ruoloDaAggiungere.listaFunzioni" class="bg-white border-b">
                        <td class="px-6 py-4>">
                            <button type="button" (click)="RimuoviFunzione(funzione.funzioneId)"
                                class="material-icons w-auto h-auto text-base border-2 shadow-md text-black bg-red-600 hover:bg-red-700 focus:ring-4 rounded-2xl px-5 py-2.5 text-center">delete</button>
                        </td>
                        <td class=" px-6 py-4 w-2 h-2 ">{{funzione.nomeFunzione}}</td>
                        <td class=" px-6 py-4 w-2 h-2 " [class.attivo]="funzione.flagVoceDiMenu" [class.disattivo]="!funzione.flagVoceDiMenu"><button (click)="AggiornaCampo(funzione.funzioneId,0)" >a</button></td>
                        <td class=" px-6 py-4 w-2 h-2 " [class.attivo]="funzione.flagLettura"  [class.disattivo]="!funzione.flagLettura"><button (click)="AggiornaCampo(funzione.funzioneId,1)"  >a</button></td>
                        <td class=" px-6 py-4 w-2 h-2 " [class.attivo]="funzione.flagCreazione" [class.disattivo]="!funzione.flagCreazione"><button (click)="AggiornaCampo(funzione.funzioneId,2)"  >a</button></td>
                        <td class=" px-6 py-4 w-2 h-2 " [class.attivo]="funzione.flagModifica"   [class.disattivo]="!funzione.flagModifica"><button (click)="AggiornaCampo(funzione.funzioneId,3)"  >a</button></td>
                        <td class=" px-6 py-4 w-2 h-2 " [class.attivo]="funzione.Cancellazione"  [class.disattivo]="!funzione.Cancellazione"><button (click)="AggiornaCampo(funzione.funzioneId,4)"  >a</button></td>
                        <!-- <td class="px-6 py-4"><button (click)="AggiornaCampo(funzione.funzioneId,5)" [class.attivo]="funzione.indiceMenu" ></button></td>
                        <td class="px-6 py-4"><button (click)="AggiornaCampo(funzione.funzioneId,6)" [class.attivo]="funzione.menuPadre" ></button></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
     

    