
.error{
    border-color: red;
}

input:focus {
    outline: none;
}
.focus  {
    border-color: rgb(0, 162, 255);
// 

}

mat-icon {
    //font-size: 24px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;    
  }